In [1]:
%%capture
from sys import path
path.insert(0, '../static')
from agyw import AgywPrev
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from pandas import (
    DataFrame,
    ExcelWriter
)
import openpyxl
from os import path

from time import (
    gmtime,
    strftime
)

In [2]:
%%capture
datim = AgywPrev()

# base active

In [3]:
base = datim.data_dreams_valid
base.id_patient.count()

9549

In [4]:
base.columns

Index(['id_patient', 'id_parenting_group', 'departement', 'commune',
       'nbre_pres_for_inter', 'nbre_parenting_coupe_present',
       'has_comdom_topic', 'has_preventive_vbg',
       'number_of_condoms_sensibilize',
       'number_condoms_sensibilization_date_in_the_interval',
       'number_condoms_reception_in_the_interval',
       'number_test_date_in_the_interval', 'test_results',
       'number_vbg_treatment_date_in_the_interval',
       'number_gynecological_care_date_in_the_interval',
       'number_prep_initiation_date_in_the_interval',
       'number_contraceptive_reception_in_the_interval', 'age_in_year',
       'age_range', 'ovc_age', 'date_interview', 'month_in_program_range',
       'muso', 'gardening', 'has_a_service_with_date_in_the_past',
       'parenting_detailed', 'parenting', 'curriculum_detailed', 'curriculum',
       'condom', 'hts', 'vbg', 'gyneco', 'post_violence_care', 'socioeco_app',
       'prep', 'contraceptive', 'ps_1014', 'ps_1519', 'ps_2024',
       'primary_only', 'primary_and_OneSecondary_services',
       'completed_one_service', 'has_started_one_service'],
      dtype='object')

In [5]:
base.pivot_table(index='age_range', values='id_patient',columns='departement',aggfunc='count',fill_value=0, margins=True)

departement  Artibonite  Nord  Ouest   All
age_range
10-14              1578   417   1722  3717
15-19              1557   568   1797  3922
20-24               775   299    836  1910
All                3910  1284   4355  9549

# Curriculum

In [6]:
curriculum_complet = base[
    (base.curriculum=="yes")
]
curriculum_complet.id_patient.count()

curriculum_table = curriculum_complet.pivot_table(index="age_range",columns="curriculum",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

8447

curriculum    yes  Grand Total
age_range
10-14        3179         3179
15-19        3527         3527
20-24        1741         1741
Grand Total  8447         8447

# least one curriculum

In [7]:
curriculum_least = base[
    (base.curriculum_detailed!="no")
]
curriculum_least.id_patient.count()

curriculum_table = curriculum_least.pivot_table(index="age_range",columns="curriculum_detailed",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

9503

curriculum_detailed  has_started   yes  Grand Total
age_range
10-14                        531  3179         3710
15-19                        372  3527         3899
20-24                        153  1741         1894
Grand Total                 1056  8447         9503

In [8]:
curriculum_least.pivot_table(index='age_range', values='id_patient',columns='departement',aggfunc='count',fill_value=0, margins=True)

departement  Artibonite  Nord  Ouest   All
age_range
10-14              1575   413   1722  3710
15-19              1547   558   1794  3899
20-24               763   295    836  1894
All                3885  1266   4352  9503

# Parenting

In [9]:
parenting = base[
    (base.parenting=="yes")
]
parenting.id_patient.count()
parenting_table = parenting.pivot_table(index="age_range",columns="parenting",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_table

79

parenting    yes  Grand Total
age_range
10-14         35           35
15-19         44           44
Grand Total   79           79

# least one session parenting

In [10]:
parenting_leastone= base[
    (base.parenting_detailed!="no")
]

print('least one session parenting')
parenting_leastone.id_patient.count()

parenting_leastone_table = parenting_leastone.pivot_table(index="commune",columns="parenting_detailed",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_leastone_table


# ---------------

parenting_started = base[
    (base.parenting_detailed=='has_started')
]
print('has started strict')
parenting_started.id_patient.count()

least one session parenting

203

parenting_detailed              has_started  yes  Grand Total
commune
Cap-Haïtien                              18    0           18
Delmas                                    0    1            1
Desdunes                                  1   30           31
Dessalines                               25    2           27
Grande Saline                             4    2            6
Gressier                                  8    3           11
Kenscoff                                 24   15           39
La Chapelle                               0    1            1
Liancourt                                 9    0            9
Limonade                                  5    0            5
Milot                                     6    0            6
Montrouis                                 4    1            5
Petite Rivière de l'Artibonite            0    6            6
Plaine-du-Nord                            2    0            2
Pétionville                               2    9           11
Tabarre                                  14    5           19
Verrettes                                 2    4            6
Grand Total                             124   79          203

has started strict

124

# condoms

In [11]:
condom = base[
    (base.condom=="yes")
]
condom.id_patient.count()

condom_table = condom.pivot_table(index="age_range",columns="condom",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
condom_table

9380

condom        yes  Grand Total
age_range
10-14        3609         3609
15-19        3878         3878
20-24        1893         1893
Grand Total  9380         9380

# HTS

In [12]:
hts = base[
    (base.hts=="yes")
]
hts.id_patient.count()

hts_table = hts.pivot_table(index="age_range",columns="hts",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
hts_table

1156

hts           yes  Grand Total
age_range
10-14         133          133
15-19         516          516
20-24         507          507
Grand Total  1156         1156

# post violence care

In [13]:


post_violence_care = base[
    (base.post_violence_care=="yes")
]
post_violence_care.id_patient.count()

post_violence_care_table = post_violence_care.pivot_table(index="age_range",columns="post_violence_care",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
post_violence_care_table

196

post_violence_care  yes  Grand Total
age_range
10-14                18           18
15-19               121          121
20-24                57           57
Grand Total         196          196

In [14]:


vbg = base[
    (base.vbg=="yes")
]
vbg.id_patient.count()

vbg_table = vbg.pivot_table(index="age_range",columns="vbg",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
vbg_table

175

vbg          yes  Grand Total
age_range
10-14         14           14
15-19        112          112
20-24         49           49
Grand Total  175          175

In [15]:


gyneco = base[
    (base.gyneco=="yes")
]
gyneco.id_patient.count()

gyneco_table = gyneco.pivot_table(index="age_range",columns="gyneco",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
gyneco_table

27

gyneco       yes  Grand Total
age_range
10-14          4            4
15-19         10           10
20-24         13           13
Grand Total   27           27

# Socio_eco_app

In [16]:

socioeco_app = base[
    (base.socioeco_app=="yes")
]
socioeco_app.id_patient.count()

socioeco_app_table = socioeco_app.pivot_table(index="age_range",columns="socioeco_app",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
socioeco_app_table

745

socioeco_app  yes  Grand Total
age_range
10-14         180          180
15-19         278          278
20-24         287          287
Grand Total   745          745

In [17]:

muso = base[
    (base.muso=="yes")
]
muso.id_patient.count()

muso_table = muso.pivot_table(index="age_range",columns="muso",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
muso_table

66

muso         yes  Grand Total
age_range
10-14          5            5
15-19         17           17
20-24         44           44
Grand Total   66           66

In [18]:

gardening = base[
    (base.gardening=="yes")
]
gardening.id_patient.count()

gardening_table = gardening.pivot_table(index="age_range",columns="gardening",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
gardening_table

693

gardening    yes  Grand Total
age_range
10-14        175          175
15-19        263          263
20-24        255          255
Grand Total  693          693

# Prep

In [19]:
prep = base[
    (base.prep=="yes")
]
prep.id_patient.count()

prep_table = prep.pivot_table(index="age_range",columns="prep",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
prep_table


#GOOD!!!!!

82

prep         yes  Grand Total
age_range
15-19         29           29
20-24         53           53
Grand Total   82           82

# Contraceptive

In [20]:
contraceptive = base[
    (base.contraceptive=="yes")
]
contraceptive.id_patient.count()
if contraceptive.id_patient.count() !=0:
    contraceptive_table = contraceptive.pivot_table(index="age_range",columns="contraceptive",
                            values='id_patient',
                            aggfunc='count',
                            fill_value=0,
                            margins=True,
                            margins_name="Grand Total"                             
    )
    contraceptive_table

4

contraceptive  yes  Grand Total
age_range
15-19            1            1
20-24            3            3
Grand Total      4            4

# Primary_services

In [21]:

ps_1014 = base[
    (base.ps_1014=="primary")
]
ps_1014.id_patient.count()

ps_1014_table = ps_1014.pivot_table(index="age_range",columns="ps_1014",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1014_table

3179

ps_1014      primary  Grand Total
age_range
10-14           3179         3179
Grand Total     3179         3179

In [22]:

ps_1519 = base[
    (base.ps_1519=="primary")
]
ps_1519.id_patient.count()

ps_1519_table = ps_1519.pivot_table(index="age_range",columns="ps_1519",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1519_table

3527

ps_1519      primary  Grand Total
age_range
15-19           3527         3527
Grand Total     3527         3527

In [23]:

ps_2024 = base[
    (base.ps_2024=="primary")
]
ps_2024.id_patient.count()

ps_2024_table = ps_2024.pivot_table(index="age_range",columns="ps_2024",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_2024_table

1741

ps_2024      primary  Grand Total
age_range
20-24           1741         1741
Grand Total     1741         1741

# find scenarios

In [24]:
repart_parenting =DataFrame.from_dict(parenting_leastone.commune.value_counts().to_dict(),orient='index',columns=['nombre_de_beneficiaires'])
repart_parenting.to_excel('./parenting_repartition_beneficiaires/repartition_parenting_par_commune.xlsx',index=True,na_rep="")
hts.to_excel('./hivTested/hivTestedBeneficiairies.xlsx',index=False,na_rep="")
parenting.to_excel('./parenting_repartition_beneficiaires/parenting_completed.xlsx',na_rep="",index=False)
parenting_started.to_excel('./parenting_repartition_beneficiaires/parenting_has_started.xlsx',na_rep="",index=False)

repart_parenting

                                nombre_de_beneficiaires
Kenscoff                                             39
Desdunes                                             31
Dessalines                                           27
Tabarre                                              19
Cap-Haïtien                                          18
Pétionville                                          11
Gressier                                             11
Liancourt                                             9
Grande Saline                                         6
Petite Rivière de l'Artibonite                        6
Milot                                                 6
Verrettes                                             6
Montrouis                                             5
Limonade                                              5
Plaine-du-Nord                                        2
Delmas                                                1
La Chapelle                                           1