In [1]:
%%capture
from sys import path
path.insert(0, '../static')
from agyw import AgywPrev
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from pandas import (
    DataFrame,
    ExcelWriter
)
import openpyxl
from os import path

from time import (
    gmtime,
    strftime
)

In [2]:
%%capture
datim = AgywPrev()

# base active

In [3]:
base = datim.data_dreams_valid
base.id_patient.count()

12516

In [4]:
base.columns

Index(['id_patient', 'id_parenting_group', 'departement', 'commune',
       'nbre_pres_for_inter', 'nbre_parenting_coupe_present',
       'has_comdom_topic', 'has_preventive_vbg',
       'number_of_condoms_sensibilize',
       'number_condoms_sensibilization_date_in_the_interval',
       'number_condoms_reception_in_the_interval',
       'number_test_date_in_the_interval', 'test_results',
       'number_vbg_treatment_date_in_the_interval',
       'number_gynecological_care_date_in_the_interval',
       'number_prep_initiation_date_in_the_interval',
       'number_contraceptive_reception_in_the_interval', 'age_in_year',
       'age_range', 'ovc_age', 'date_interview', 'month_in_program_range',
       'muso', 'gardening', 'has_a_service_with_date_in_the_past',
       'parenting_detailed', 'parenting', 'curriculum_detailed', 'curriculum',
       'condom', 'hts', 'vbg', 'gyneco', 'post_violence_care', 'socioeco_app',
       'prep', 'contraceptive', 'ps_1014', 'ps_1519', 'ps_2024',
       'primary_only', 'primary_and_OneSecondary_services',
       'completed_one_service', 'has_started_one_service'],
      dtype='object')

In [5]:
 base.pivot_table(index='age_range', values='id_patient',columns='departement',aggfunc='count',fill_value=0, margins=True)

departement  Artibonite  Nord  Ouest    All
age_range
10-14              2318   478   2131   4927
15-19              2237   646   2246   5129
20-24              1071   339   1050   2460
All                5626  1463   5427  12516

In [6]:
base_table = base.pivot_table(index='age_range', values='id_patient',columns='departement',aggfunc='count',fill_value=0, margins=True,
    margins_name = "Total"
)[:-1]
base_table = base_table.reset_index().rename_axis(None, axis=1)
base_table = DataFrame(base_table.to_records(index=False))
base_table
base_table.to_excel('base_total.xlsx',index=False,na_rep="")

  age_range  Artibonite  Nord  Ouest  Total
0     10-14        2318   478   2131   4927
1     15-19        2237   646   2246   5129
2     20-24        1071   339   1050   2460

# Curriculum

In [7]:
curriculum_complet = base[
    (base.curriculum=="yes")
]
curriculum_complet.id_patient.count()

curriculum_table = curriculum_complet.pivot_table(index="age_range",columns="curriculum",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

10770

curriculum     yes  Grand Total
age_range
10-14         4171         4171
15-19         4465         4465
20-24         2134         2134
Grand Total  10770        10770

# least one curriculum

In [8]:
curriculum_least = base[
    (base.curriculum_detailed!="no")
]
curriculum_least.id_patient.count()

curriculum_table = curriculum_least.pivot_table(index="age_range",columns="curriculum_detailed",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

12449

curriculum_detailed  has_started    yes  Grand Total
age_range
10-14                        748   4171         4919
15-19                        632   4465         5097
20-24                        299   2134         2433
Grand Total                 1679  10770        12449

In [9]:
curriculum_least.pivot_table(index='age_range', values='id_patient',columns='departement',aggfunc='count',fill_value=0, margins=True, margins_name="Total")

departement  Artibonite  Nord  Ouest  Total
age_range
10-14              2314   474   2131   4919
15-19              2223   637   2237   5097
20-24              1053   334   1046   2433
Total              5590  1445   5414  12449

# Parenting

In [10]:
parenting = base[
    (base.parenting=="yes")
]
parenting.id_patient.count()
parenting_table = parenting.pivot_table(index="age_range",columns="parenting",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_table

100

parenting    yes  Grand Total
age_range
10-14         45           45
15-19         55           55
Grand Total  100          100

# least one session parenting

In [11]:
parenting_leastone= base[
    (base.parenting_detailed!="no")
]

print('least one session parenting')
parenting_leastone.id_patient.count()

parenting_leastone_table = parenting_leastone.pivot_table(index="commune",columns="parenting_detailed",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_leastone_table


# ---------------

parenting_started = base[
    (base.parenting_detailed=='has_started')
]
print('has started strict')
parenting_started.id_patient.count()

least one session parenting

234

parenting_detailed              has_started  yes  Grand Total
commune
Cap-Haïtien                              18    0           18
Delmas                                    0    1            1
Desdunes                                  1   30           31
Dessalines                               25    2           27
Grande Saline                            13    2           15
Gressier                                 12    3           15
Kenscoff                                 12   34           46
La Chapelle                               0    2            2
Liancourt                                 9    0            9
Limonade                                  5    0            5
Milot                                     6    0            6
Montrouis                                 4    2            6
Petite Rivière de l'Artibonite            0    6            6
Plaine-du-Nord                            2    0            2
Pétionville                               2    9           11
Tabarre                                  23    5           28
Verrettes                                 2    4            6
Grand Total                             134  100          234

has started strict

134

In [12]:
parenting_started.nbre_parenting_coupe_present.unique()

array([10,  1, 11,  2,  9,  8,  6,  4,  5,  3,  7], dtype=int16)

# condoms

In [13]:
condom = base[
    (base.condom=="yes")
]
condom.id_patient.count()

condom_table = condom.pivot_table(index="age_range",columns="condom",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
condom_table

12363

condom         yes  Grand Total
age_range
10-14         4855         4855
15-19         5080         5080
20-24         2428         2428
Grand Total  12363        12363

# HTS

In [14]:
hts = base[
    (base.hts=="yes")
]
hts.id_patient.count()

hts_table = hts.pivot_table(index="age_range",columns="hts",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
hts_table

1299

hts           yes  Grand Total
age_range
10-14         144          144
15-19         597          597
20-24         558          558
Grand Total  1299         1299

# post violence care

In [15]:


post_violence_care = base[
    (base.post_violence_care=="yes")
]
post_violence_care.id_patient.count()

post_violence_care_table = post_violence_care.pivot_table(index="age_range",columns="post_violence_care",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
post_violence_care_table

223

post_violence_care  yes  Grand Total
age_range
10-14                19           19
15-19               136          136
20-24                68           68
Grand Total         223          223

In [16]:


vbg = base[
    (base.vbg=="yes")
]
vbg.id_patient.count()

vbg_table = vbg.pivot_table(index="age_range",columns="vbg",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
vbg_table

vbg.to_excel('vbg.xlsx',na_rep="",index=False)

202

vbg          yes  Grand Total
age_range
10-14         15           15
15-19        127          127
20-24         60           60
Grand Total  202          202

In [17]:


gyneco = base[
    (base.gyneco=="yes")
]
gyneco.id_patient.count()

gyneco_table = gyneco.pivot_table(index="age_range",columns="gyneco",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
gyneco_table

27

gyneco       yes  Grand Total
age_range
10-14          4            4
15-19         10           10
20-24         13           13
Grand Total   27           27

# Socio_eco_app

In [18]:

socioeco_app = base[
    (base.socioeco_app=="yes")
]
socioeco_app.id_patient.count()

socioeco_app_table = socioeco_app.pivot_table(index="age_range",columns="socioeco_app",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
socioeco_app_table

836

socioeco_app  yes  Grand Total
age_range
10-14         203          203
15-19         332          332
20-24         301          301
Grand Total   836          836

In [19]:

muso = base[
    (base.muso=="yes")
]
muso.id_patient.count()

muso_table = muso.pivot_table(index="age_range",columns="muso",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
muso_table

65

muso         yes  Grand Total
age_range
10-14          5            5
15-19         17           17
20-24         43           43
Grand Total   65           65

In [20]:

gardening = base[
    (base.gardening=="yes")
]
gardening.id_patient.count()

gardening_table = gardening.pivot_table(index="age_range",columns="gardening",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
gardening_table

785

gardening    yes  Grand Total
age_range
10-14        198          198
15-19        317          317
20-24        270          270
Grand Total  785          785

# Prep

In [21]:
prep = base[
    (base.prep=="yes")
]
prep.id_patient.count()

prep_table = prep.pivot_table(index="age_range",columns="prep",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
prep_table


#GOOD!!!!!

83

prep         yes  Grand Total
age_range
15-19         29           29
20-24         54           54
Grand Total   83           83

In [22]:
prep.columns

Index(['id_patient', 'id_parenting_group', 'departement', 'commune',
       'nbre_pres_for_inter', 'nbre_parenting_coupe_present',
       'has_comdom_topic', 'has_preventive_vbg',
       'number_of_condoms_sensibilize',
       'number_condoms_sensibilization_date_in_the_interval',
       'number_condoms_reception_in_the_interval',
       'number_test_date_in_the_interval', 'test_results',
       'number_vbg_treatment_date_in_the_interval',
       'number_gynecological_care_date_in_the_interval',
       'number_prep_initiation_date_in_the_interval',
       'number_contraceptive_reception_in_the_interval', 'age_in_year',
       'age_range', 'ovc_age', 'date_interview', 'month_in_program_range',
       'muso', 'gardening', 'has_a_service_with_date_in_the_past',
       'parenting_detailed', 'parenting', 'curriculum_detailed', 'curriculum',
       'condom', 'hts', 'vbg', 'gyneco', 'post_violence_care', 'socioeco_app',
       'prep', 'contraceptive', 'ps_1014', 'ps_1519', 'ps_2024',
       'primary_only', 'primary_and_OneSecondary_services',
       'completed_one_service', 'has_started_one_service'],
      dtype='object')

# Contraceptive

In [23]:
contraceptive = base[
    (base.contraceptive=="yes")
]
contraceptive.id_patient.count()
if contraceptive.id_patient.count() !=0:
    contraceptive_table = contraceptive.pivot_table(index="age_range",columns="contraceptive",
                            values='id_patient',
                            aggfunc='count',
                            fill_value=0,
                            margins=True,
                            margins_name="Grand Total"                             
    )
    contraceptive_table

4

contraceptive  yes  Grand Total
age_range
15-19            1            1
20-24            3            3
Grand Total      4            4

# Primary_services

In [24]:

ps_1014 = base[
    (base.ps_1014=="primary")
]
ps_1014.id_patient.count()

ps_1014_table = ps_1014.pivot_table(index="age_range",columns="ps_1014",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1014_table

4171

ps_1014      primary  Grand Total
age_range
10-14           4171         4171
Grand Total     4171         4171

In [25]:

ps_1519 = base[
    (base.ps_1519=="primary")
]
ps_1519.id_patient.count()

ps_1519_table = ps_1519.pivot_table(index="age_range",columns="ps_1519",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1519_table

4465

ps_1519      primary  Grand Total
age_range
15-19           4465         4465
Grand Total     4465         4465

In [26]:

ps_2024 = base[
    (base.ps_2024=="primary")
]
ps_2024.id_patient.count()

ps_2024_table = ps_2024.pivot_table(index="age_range",columns="ps_2024",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_2024_table

2134

ps_2024      primary  Grand Total
age_range
20-24           2134         2134
Grand Total     2134         2134

# find scenarios

In [27]:
repart_parenting =DataFrame.from_dict(parenting_leastone.commune.value_counts().to_dict(),orient='index',columns=['nombre_de_beneficiaires'])
repart_parenting.to_excel('./parenting_repartition_beneficiaires/repartition_parenting_par_commune.xlsx',index=True,na_rep="")
hts.to_excel('./hivTested/hivTestedBeneficiairies.xlsx',index=False,na_rep="")
parenting.to_excel('./parenting_repartition_beneficiaires/parenting_completed.xlsx',na_rep="",index=False)
parenting_started.to_excel('./parenting_repartition_beneficiaires/parenting_has_started.xlsx',na_rep="",index=False)

repart_parenting

                                nombre_de_beneficiaires
Kenscoff                                             46
Desdunes                                             31
Tabarre                                              28
Dessalines                                           27
Cap-Haïtien                                          18
Gressier                                             15
Grande Saline                                        15
Pétionville                                          11
Liancourt                                             9
Petite Rivière de l'Artibonite                        6
Montrouis                                             6
Milot                                                 6
Verrettes                                             6
Limonade                                              5
Plaine-du-Nord                                        2
La Chapelle                                           2
Delmas                                                1