In [1]:
%%capture
from sys import path
path.insert(0, '../static')
from agyw import AgywPrev
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from pandas import DataFrame

In [2]:
%%capture
datim = AgywPrev()

# base active

In [3]:
base = datim.data_dreams_valid
base.id_patient.count()

7327

In [4]:
base.columns

Index(['id_patient', 'id_parenting_group', 'departement', 'commune',
       'nbre_pres_for_inter', 'nbre_parenting_coupe_present',
       'has_comdom_topic', 'has_preventive_vbg',
       'number_of_condoms_sensibilize',
       'number_condoms_sensibilization_date_in_the_interval',
       'number_condoms_reception_in_the_interval',
       'number_test_date_in_the_interval', 'test_results',
       'number_vbg_treatment_date_in_the_interval',
       'number_gynecological_care_date_in_the_interval',
       'number_prep_initiation_date_in_the_interval',
       'number_contraceptive_reception_in_the_interval', 'age_in_year',
       'age_range', 'ovc_age', 'date_interview', 'month_in_program_range',
       'muso', 'gardening', 'has_a_service_with_date_in_the_past',
       'parenting_detailed', 'parenting', 'curriculum_detailed', 'curriculum',
       'condom', 'hts', 'vbg', 'gyneco', 'post_violence_care', 'socioeco_app',
       'prep', 'contraceptive', 'ps_1014', 'ps_1519', 'ps_2024',
       'primary_only', 'primary_and_OneSecondary_services',
       'completed_one_service', 'has_started_one_service'],
      dtype='object')

In [5]:
base.pivot_table(index='age_range', values='id_patient',columns='departement',aggfunc='count',fill_value=0, margins=True)

departement  Artibonite  Nord  Ouest   All
age_range
10-14              1250   309   1207  2766
15-19              1177   336   1513  3026
20-24               632   164    739  1535
All                3059   809   3459  7327

# Curriculum

In [6]:
curriculum_complet = base[
    (base.curriculum=="yes")
]
curriculum_complet.id_patient.count()

curriculum_table = curriculum_complet.pivot_table(index="age_range",columns="curriculum",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

6596

curriculum    yes  Grand Total
age_range
10-14        2462         2462
15-19        2734         2734
20-24        1400         1400
Grand Total  6596         6596

# least one curriculum

In [7]:
curriculum_least = base[
    (base.curriculum_detailed!="no")
]
curriculum_least.id_patient.count()

curriculum_table = curriculum_least.pivot_table(index="age_range",columns="curriculum_detailed",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

7291

curriculum_detailed  has_started   yes  Grand Total
age_range
10-14                        299  2462         2761
15-19                        271  2734         3005
20-24                        125  1400         1525
Grand Total                  695  6596         7291

In [8]:
curriculum_least.pivot_table(index='age_range', values='id_patient',columns='departement',aggfunc='count',fill_value=0, margins=True)

departement  Artibonite  Nord  Ouest   All
age_range
10-14              1249   305   1207  2761
15-19              1170   325   1510  3005
20-24               625   161    739  1525
All                3044   791   3456  7291

# Parenting

In [9]:
parenting = base[
    (base.parenting=="yes")
]
parenting.id_patient.count()
parenting_table = parenting.pivot_table(index="age_range",columns="parenting",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_table

71

parenting    yes  Grand Total
age_range
10-14         34           34
15-19         37           37
Grand Total   71           71

# least one session parenting

In [10]:
parenting_leastone= base[
    (base.parenting_detailed!="no")
]

print('least one session parenting')
parenting_leastone.id_patient.count()

parenting_table = parenting_leastone.pivot_table(index="age_range",columns="parenting_detailed",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_table


# ---------------

parenting_started = base[
    (base.parenting_detailed=='has_started')
]
print('has started strict')
parenting_started.id_patient.count()

least one session parenting

170

parenting_detailed  has_started  yes  Grand Total
age_range
10-14                        54   34           88
15-19                        45   37           82
Grand Total                  99   71          170

has started strict

99

# condoms

In [11]:
condom = base[
    (base.condom=="yes")
]
condom.id_patient.count()

condom_table = condom.pivot_table(index="age_range",columns="condom",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
condom_table

7217

condom        yes  Grand Total
age_range
10-14        2715         2715
15-19        2980         2980
20-24        1522         1522
Grand Total  7217         7217

# HTS

In [12]:
hts = base[
    (base.hts=="yes")
]
hts.id_patient.count()

hts_table = hts.pivot_table(index="age_range",columns="hts",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
hts_table

1121

hts           yes  Grand Total
age_range
10-14         138          138
15-19         497          497
20-24         486          486
Grand Total  1121         1121

# post violence care

In [13]:


post_violence_care = base[
    (base.post_violence_care=="yes")
]
post_violence_care.id_patient.count()

post_violence_care_table = post_violence_care.pivot_table(index="age_range",columns="post_violence_care",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
post_violence_care_table

130

post_violence_care  yes  Grand Total
age_range
10-14                10           10
15-19                70           70
20-24                50           50
Grand Total         130          130

In [14]:


vbg = base[
    (base.vbg=="yes")
]
vbg.id_patient.count()

vbg_table = vbg.pivot_table(index="age_range",columns="vbg",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
vbg_table

110

vbg          yes  Grand Total
age_range
10-14          6            6
15-19         62           62
20-24         42           42
Grand Total  110          110

In [15]:


gyneco = base[
    (base.gyneco=="yes")
]
gyneco.id_patient.count()

gyneco_table = gyneco.pivot_table(index="age_range",columns="gyneco",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
gyneco_table

26

gyneco       yes  Grand Total
age_range
10-14          4            4
15-19          9            9
20-24         13           13
Grand Total   26           26

# Socio_eco_app

In [16]:

socioeco_app = base[
    (base.socioeco_app=="yes")
]
socioeco_app.id_patient.count()

socioeco_app_table = socioeco_app.pivot_table(index="age_range",columns="socioeco_app",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
socioeco_app_table

694

socioeco_app  yes  Grand Total
age_range
10-14         175          175
15-19         257          257
20-24         262          262
Grand Total   694          694

# Prep

In [17]:
prep = base[
    (base.prep=="yes")
]
prep.id_patient.count()

prep_table = prep.pivot_table(index="age_range",columns="prep",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
prep_table


#GOOD!!!!!

72

prep         yes  Grand Total
age_range
15-19         22           22
20-24         50           50
Grand Total   72           72

# Contraceptive

In [18]:
contraceptive = base[
    (base.contraceptive=="yes")
]
contraceptive.id_patient.count()
if contraceptive.id_patient.count() !=0:
    contraceptive_table = contraceptive.pivot_table(index="age_range",columns="contraceptive",
                            values='id_patient',
                            aggfunc='count',
                            fill_value=0,
                            margins=True,
                            margins_name="Grand Total"                             
    )
    contraceptive_table

4

contraceptive  yes  Grand Total
age_range
15-19            1            1
20-24            3            3
Grand Total      4            4

# Primary_services

In [19]:

ps_1014 = base[
    (base.ps_1014=="primary")
]
ps_1014.id_patient.count()

ps_1014_table = ps_1014.pivot_table(index="age_range",columns="ps_1014",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1014_table

2462

ps_1014      primary  Grand Total
age_range
10-14           2462         2462
Grand Total     2462         2462

In [20]:

ps_1519 = base[
    (base.ps_1519=="primary")
]
ps_1519.id_patient.count()

ps_1519_table = ps_1519.pivot_table(index="age_range",columns="ps_1519",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1519_table

2734

ps_1519      primary  Grand Total
age_range
15-19           2734         2734
Grand Total     2734         2734

In [21]:

ps_2024 = base[
    (base.ps_2024=="primary")
]
ps_2024.id_patient.count()

ps_2024_table = ps_2024.pivot_table(index="age_range",columns="ps_2024",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_2024_table

1400

ps_2024      primary  Grand Total
age_range
20-24           1400         1400
Grand Total     1400         1400

# find scenarios

In [22]:
resum_parenting =DataFrame.from_dict(parenting_leastone.commune.value_counts().to_dict(),orient='index',columns=['nombre_de_beneficiaires'])
resum_parenting.to_excel('./parenting_repartition_beneficiaires/repartition_parenting_par_commune.xlsx',index=True,na_rep="")
hts.to_excel('./hivTested/hivTestedBeneficiairies.xlsx',index=False,na_rep="")
parenting.to_excel('./parenting_repartition_beneficiaires/parenting_completed.xlsx',na_rep="",index=False)
parenting_started.to_excel('./parenting_repartition_beneficiaires/parenting_has_started.xlsx',na_rep="",index=False)

In [23]:
resum_parenting

                                nombre_de_beneficiaires
Desdunes                                             30
Dessalines                                           27
Tabarre                                              19
Cap-Hatien                                          18
Ptionville                                          11
Gressier                                             11
Kenscoff                                             11
Liancourt                                             9
Petite Rivire de l'Artibonite                        6
Milot                                                 6
Verrettes                                             6
Limonade                                              5
Montrouis                                             4
Grande Saline                                         3
Plaine-du-Nord                                        2
Delmas                                                1
La Chapelle                                           1