In [1]:
%%capture
from sys import path
path.insert(0, '../static')
from agyw import AgywPrev
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from pandas import (
    DataFrame,
    ExcelWriter
)
import openpyxl
from os import path

from time import (
    gmtime,
    strftime
)

In [2]:
%%capture
datim = AgywPrev()

# base active

In [3]:
base = datim.data_dreams_valid
base.id_patient.count()

952

In [4]:
base.columns

Index(['id_patient', 'id_parenting_group', 'departement', 'commune',
       'nbre_pres_for_inter', 'nbre_parenting_coupe_present',
       'has_comdom_topic', 'has_preventive_vbg',
       'number_of_condoms_sensibilize',
       'number_condoms_sensibilization_date_in_the_interval',
       'number_condoms_reception_in_the_interval',
       'number_test_date_in_the_interval', 'test_results',
       'number_vbg_treatment_date_in_the_interval',
       'number_gynecological_care_date_in_the_interval',
       'number_prep_initiation_date_in_the_interval',
       'number_contraceptive_reception_in_the_interval', 'age_in_year',
       'age_range', 'ovc_age', 'date_interview', 'month_in_program_range',
       'muso', 'gardening', 'has_a_service_with_date_in_the_past',
       'parenting_detailed', 'parenting', 'curriculum_detailed', 'curriculum',
       'condom', 'hts', 'vbg', 'gyneco', 'post_violence_care', 'socioeco_app',
       'prep', 'contraceptive', 'ps_1014', 'ps_1519', 'ps_2024',
       'primary_only', 'primary_and_OneSecondary_services',
       'completed_one_service', 'has_started_one_service'],
      dtype='object')

In [5]:
 base.pivot_table(index='age_range', values='id_patient',columns='departement',aggfunc='count',fill_value=0, margins=True)

departement  Artibonite  Nord  Ouest  All
age_range
10-14               192    25     46  263
15-19               292    35     48  375
20-24               260    36     18  314
All                 744    96    112  952

In [6]:
base_table = base.pivot_table(index='age_range', values='id_patient',columns='departement',aggfunc='count',fill_value=0, margins=True,
    margins_name = "Total"
)[:-1]
base_table = base_table.reset_index().rename_axis(None, axis=1)
base_table = DataFrame(base_table.to_records(index=False))
base_table
base_table.to_excel('base_total.xlsx',index=False,na_rep="")

  age_range  Artibonite  Nord  Ouest  Total
0     10-14         192    25     46    263
1     15-19         292    35     48    375
2     20-24         260    36     18    314

# Curriculum

In [7]:
curriculum_complet = base[
    (base.curriculum=="yes")
]
curriculum_complet.id_patient.count()

curriculum_table = curriculum_complet.pivot_table(index="age_range",columns="curriculum",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

736

curriculum   yes  Grand Total
age_range
10-14        209          209
15-19        282          282
20-24        245          245
Grand Total  736          736

# least one curriculum

In [8]:
curriculum_least = base[
    (base.curriculum_detailed!="no")
]
curriculum_least.id_patient.count()

curriculum_table = curriculum_least.pivot_table(index="age_range",columns="curriculum_detailed",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

929

curriculum_detailed  has_started  yes  Grand Total
age_range
10-14                         50  209          259
15-19                         83  282          365
20-24                         60  245          305
Grand Total                  193  736          929

In [32]:
cl_table = curriculum_least.pivot_table(index='age_range', values='id_patient',columns='departement',aggfunc='count',fill_value=0, margins=True, margins_name="Total")
cl_table


curriculum_least_table =curriculum_least.pivot_table(index="commune",columns="curriculum_detailed",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_least_table



cl_table.to_excel('./leat_oneSession_curriculum_perDept.xlsx',na_rep="",index=True)
curriculum_least_table.to_excel('./leat_oneSession_curriculum_perCommune.xlsx',na_rep="",index=True)

departement  Artibonite  Nord  Ouest  Total
age_range
10-14               189    24     46    259
15-19               286    31     48    365
20-24               254    33     18    305
Total               729    88    112    929

curriculum_detailed             has_started  yes  Grand Total
commune
Cap-Haïtien                               5   27           32
Delmas                                    8    1            9
Desdunes                                  0  131          131
Dessalines                                9   24           33
Grande Saline                            13  134          147
Gressier                                 27   14           41
Kenscoff                                  7   17           24
La Chapelle                               2    6            8
Liancourt                                33   43           76
Milot                                    14   14           28
Montrouis                                25  100          125
Petite Rivière de l'Artibonite           17   33           50
Plaine-du-Nord                            1   15           16
Port-au-Prince                            2    0            2
Pétionville                               0   34           34
Quartier-Morin                            3    9           12
Saint-Marc                                4   15           19
Tabarre                                   0    2            2
Verrettes                                23  117          140
Grand Total                             193  736          929

# Parenting

In [10]:
parenting = base[
    (base.parenting=="yes")
]
parenting.id_patient.count()
parenting_table = parenting.pivot_table(index="age_range",columns="parenting",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_table

30

parenting    yes  Grand Total
age_range
10-14         12           12
15-19         18           18
Grand Total   30           30

# least one session parenting

In [11]:
parenting_leastone= base[
    (base.parenting_detailed!="no")
]

print('least one session parenting')
parenting_leastone.id_patient.count()

parenting_leastone_table = parenting_leastone.pivot_table(index="commune",columns="parenting_detailed",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_leastone_table


# ---------------

parenting_started = base[
    (base.parenting_detailed=='has_started')
]
print('has started strict')
parenting_started.id_patient.count()

least one session parenting

56

parenting_detailed  has_started  yes  Grand Total
commune
Desdunes                      0   15           15
Dessalines                    1    1            2
Grande Saline                10    1           11
Kenscoff                      2   10           12
Liancourt                     6    0            6
Milot                         2    0            2
Montrouis                     4    2            6
Plaine-du-Nord                1    0            1
Verrettes                     0    1            1
Grand Total                  26   30           56

has started strict

26

In [12]:
parenting_started.nbre_parenting_coupe_present.unique()

array([10,  8,  6,  9, 11,  7,  1], dtype=int16)

# condoms

In [13]:
condom = base[
    (base.condom=="yes")
]
condom.id_patient.count()

condom_table = condom.pivot_table(index="age_range",columns="condom",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
condom_table

930

condom       yes  Grand Total
age_range
10-14        254          254
15-19        367          367
20-24        309          309
Grand Total  930          930

# HTS

In [14]:
hts = base[
    (base.hts=="yes")
]
hts.id_patient.count()

hts_table = hts.pivot_table(index="age_range",columns="hts",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
hts_table

242

hts          yes  Grand Total
age_range
10-14         41           41
15-19         91           91
20-24        110          110
Grand Total  242          242

# post violence care

In [15]:


post_violence_care = base[
    (base.post_violence_care=="yes")
]
post_violence_care.id_patient.count()

post_violence_care_table = post_violence_care.pivot_table(index="age_range",columns="post_violence_care",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
post_violence_care_table

4

post_violence_care  yes  Grand Total
age_range
20-24                 4            4
Grand Total           4            4

In [16]:


vbg = base[
    (base.vbg=="yes")
]
vbg.id_patient.count()

vbg_table = vbg.pivot_table(index="age_range",columns="vbg",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
vbg_table

vbg.to_excel('vbg.xlsx',na_rep="",index=False)

3

vbg          yes  Grand Total
age_range
20-24          3            3
Grand Total    3            3

In [17]:


gyneco = base[
    (base.gyneco=="yes")
]
gyneco.id_patient.count()

gyneco_table = gyneco.pivot_table(index="age_range",columns="gyneco",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
gyneco_table

1

gyneco       yes  Grand Total
age_range
20-24          1            1
Grand Total    1            1

# Socio_eco_app

In [18]:

socioeco_app = base[
    (base.socioeco_app=="yes")
]
socioeco_app.id_patient.count()

socioeco_app_table = socioeco_app.pivot_table(index="age_range",columns="socioeco_app",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
socioeco_app_table

855

socioeco_app  yes  Grand Total
age_range
10-14         211          211
15-19         342          342
20-24         302          302
Grand Total   855          855

In [19]:

muso = base[
    (base.muso=="yes")
]
muso.id_patient.count()

muso_table = muso.pivot_table(index="age_range",columns="muso",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
muso_table

65

muso         yes  Grand Total
age_range
10-14          5            5
15-19         16           16
20-24         44           44
Grand Total   65           65

In [20]:

gardening = base[
    (base.gardening=="yes")
]
gardening.id_patient.count()

gardening_table = gardening.pivot_table(index="age_range",columns="gardening",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
gardening_table

804

gardening    yes  Grand Total
age_range
10-14        206          206
15-19        328          328
20-24        270          270
Grand Total  804          804

# Prep

In [21]:
prep = base[
    (base.prep=="yes")
]
prep.id_patient.count()

prep_table = prep.pivot_table(index="age_range",columns="prep",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
prep_table


#GOOD!!!!!

33

prep         yes  Grand Total
age_range
15-19          9            9
20-24         24           24
Grand Total   33           33

In [22]:
prep.columns

Index(['id_patient', 'id_parenting_group', 'departement', 'commune',
       'nbre_pres_for_inter', 'nbre_parenting_coupe_present',
       'has_comdom_topic', 'has_preventive_vbg',
       'number_of_condoms_sensibilize',
       'number_condoms_sensibilization_date_in_the_interval',
       'number_condoms_reception_in_the_interval',
       'number_test_date_in_the_interval', 'test_results',
       'number_vbg_treatment_date_in_the_interval',
       'number_gynecological_care_date_in_the_interval',
       'number_prep_initiation_date_in_the_interval',
       'number_contraceptive_reception_in_the_interval', 'age_in_year',
       'age_range', 'ovc_age', 'date_interview', 'month_in_program_range',
       'muso', 'gardening', 'has_a_service_with_date_in_the_past',
       'parenting_detailed', 'parenting', 'curriculum_detailed', 'curriculum',
       'condom', 'hts', 'vbg', 'gyneco', 'post_violence_care', 'socioeco_app',
       'prep', 'contraceptive', 'ps_1014', 'ps_1519', 'ps_2024',
       'primary_only', 'primary_and_OneSecondary_services',
       'completed_one_service', 'has_started_one_service'],
      dtype='object')

# Contraceptive

In [23]:
contraceptive = base[
    (base.contraceptive=="yes")
]
contraceptive.id_patient.count()
if contraceptive.id_patient.count() !=0:
    contraceptive_table = contraceptive.pivot_table(index="age_range",columns="contraceptive",
                            values='id_patient',
                            aggfunc='count',
                            fill_value=0,
                            margins=True,
                            margins_name="Grand Total"                             
    )
    contraceptive_table

0

# Primary_services

In [24]:

ps_1014 = base[
    (base.ps_1014=="primary")
]
ps_1014.id_patient.count()

ps_1014_table = ps_1014.pivot_table(index="age_range",columns="ps_1014",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1014_table

209

ps_1014      primary  Grand Total
age_range
10-14            209          209
Grand Total      209          209

In [25]:

ps_1519 = base[
    (base.ps_1519=="primary")
]
ps_1519.id_patient.count()

ps_1519_table = ps_1519.pivot_table(index="age_range",columns="ps_1519",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1519_table

282

ps_1519      primary  Grand Total
age_range
15-19            282          282
Grand Total      282          282

In [26]:

ps_2024 = base[
    (base.ps_2024=="primary")
]
ps_2024.id_patient.count()

ps_2024_table = ps_2024.pivot_table(index="age_range",columns="ps_2024",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_2024_table

245

ps_2024      primary  Grand Total
age_range
20-24            245          245
Grand Total      245          245

# find scenarios

In [27]:
repart_parenting =DataFrame.from_dict(parenting_leastone.commune.value_counts().to_dict(),orient='index',columns=['nombre_de_beneficiaires'])
repart_parenting.to_excel('./parenting_repartition_beneficiaires/repartition_parenting_par_commune.xlsx',index=True,na_rep="")
hts.to_excel('./hivTested/hivTestedBeneficiairies.xlsx',index=False,na_rep="")
parenting.to_excel('./parenting_repartition_beneficiaires/parenting_completed.xlsx',na_rep="",index=False)
parenting_started.to_excel('./parenting_repartition_beneficiaires/parenting_has_started.xlsx',na_rep="",index=False)

repart_parenting

                nombre_de_beneficiaires
Desdunes                             15
Kenscoff                             12
Grande Saline                        11
Liancourt                             6
Montrouis                             6
Milot                                 2
Dessalines                            2
Plaine-du-Nord                        1
Verrettes                             1