In [1]:
%%capture
from sys import path
path.insert(0, '../static')
from agyw import AgywPrev
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from pandas import DataFrame

In [2]:
%%capture
datim = AgywPrev()

# base active

In [3]:
base = datim.data_dreams_valid
base.id_patient.count()

19229

# Curriculum

In [4]:
curriculum_complet = base[
    (base.curriculum=="yes")
]
curriculum_complet.id_patient.count()

curriculum_table = curriculum_complet.pivot_table(index="age_range",columns="curriculum",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

16746

curriculum     yes  Grand Total
age_range
10-14         5822         5822
15-19         6991         6991
20-24         3933         3933
Grand Total  16746        16746

# least one curriculum

In [5]:
curriculum_least = base[
    (base.curriculum_detailed!="no")
]
curriculum_least.id_patient.count()

curriculum_table = curriculum_least.pivot_table(index="age_range",columns="curriculum_detailed",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

18999

curriculum_detailed  has_started    yes  Grand Total
age_range
10-14                        949   5822         6771
15-19                        906   6991         7897
20-24                        398   3933         4331
Grand Total                 2253  16746        18999

# Parenting

In [6]:
parenting = base[
    (base.parenting=="yes")
]
parenting.id_patient.count()
parenting_table = parenting.pivot_table(index="age_range",columns="parenting",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_table

321

parenting    yes  Grand Total
age_range
10-14        165          165
15-19        156          156
Grand Total  321          321

# least one session parenting

In [7]:
parenting_leastone= base[
    (base.parenting_detailed!="no")
]

parenting_leastone.id_patient.count()
parenting_table = parenting_leastone.pivot_table(index="age_range",columns="parenting_detailed",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_table


# ---------------

parenting_started = base[
    (base.parenting_detailed=='has_started')
]
parenting_started.id_patient.count()

422

parenting_detailed  has_started  yes  Grand Total
age_range
10-14                        49  165          214
15-19                        52  156          208
Grand Total                 101  321          422

101

# condoms

In [8]:
condom = base[
    (base.condom=="yes")
]
condom.id_patient.count()

condom_table = condom.pivot_table(index="age_range",columns="condom",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
condom_table

18846

condom         yes  Grand Total
age_range
10-14         6612         6612
15-19         7872         7872
20-24         4362         4362
Grand Total  18846        18846

# HTS

In [9]:
hts = base[
    (base.hts=="yes")
]
hts.id_patient.count()

hts_table = hts.pivot_table(index="age_range",columns="hts",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
hts_table

2885

hts           yes  Grand Total
age_range
10-14         441          441
15-19        1186         1186
20-24        1258         1258
Grand Total  2885         2885

# post violence care

In [10]:


post_violence_care = base[
    (base.post_violence_care=="yes")
]
post_violence_care.id_patient.count()

post_violence_care_table = post_violence_care.pivot_table(index="age_range",columns="post_violence_care",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
post_violence_care_table

201

post_violence_care  yes  Grand Total
age_range
10-14                19           19
15-19                84           84
20-24                98           98
Grand Total         201          201

In [11]:


vbg = base[
    (base.vbg=="yes")
]
vbg.id_patient.count()

vbg_table = vbg.pivot_table(index="age_range",columns="vbg",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
vbg_table

68

vbg          yes  Grand Total
age_range
10-14          2            2
15-19         26           26
20-24         40           40
Grand Total   68           68

In [12]:


gyneco = base[
    (base.gyneco=="yes")
]
gyneco.id_patient.count()

gyneco_table = gyneco.pivot_table(index="age_range",columns="gyneco",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
gyneco_table

158

gyneco       yes  Grand Total
age_range
10-14         17           17
15-19         66           66
20-24         75           75
Grand Total  158          158

# Socio_eco_app

In [13]:

socioeco_app = base[
    (base.socioeco_app=="yes")
]
socioeco_app.id_patient.count()

socioeco_app_table = socioeco_app.pivot_table(index="age_range",columns="socioeco_app",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
socioeco_app_table

645

socioeco_app  yes  Grand Total
age_range
10-14         180          180
15-19         228          228
20-24         237          237
Grand Total   645          645

# Prep

In [14]:
prep = base[
    (base.prep=="yes")
]
prep.id_patient.count()

prep_table = prep.pivot_table(index="age_range",columns="prep",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
prep_table


#GOOD!!!!!

226

prep         yes  Grand Total
age_range
15-19        103          103
20-24        123          123
Grand Total  226          226

# Contraceptive

In [15]:
contraceptive = base[
    (base.contraceptive=="yes")
]
contraceptive.id_patient.count()
if contraceptive.id_patient.count() !=0:
    contraceptive_table = contraceptive.pivot_table(index="age_range",columns="contraceptive",
                            values='id_patient',
                            aggfunc='count',
                            fill_value=0,
                            margins=True,
                            margins_name="Grand Total"                             
    )
    contraceptive_table

15

contraceptive  yes  Grand Total
age_range
15-19            3            3
20-24           12           12
Grand Total     15           15

# Primary_services

In [16]:

ps_1014 = base[
    (base.ps_1014=="primary")
]
ps_1014.id_patient.count()

ps_1014_table = ps_1014.pivot_table(index="age_range",columns="ps_1014",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1014_table

5822

ps_1014      primary  Grand Total
age_range
10-14           5822         5822
Grand Total     5822         5822

In [17]:

ps_1519 = base[
    (base.ps_1519=="primary")
]
ps_1519.id_patient.count()

ps_1519_table = ps_1519.pivot_table(index="age_range",columns="ps_1519",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1519_table

6991

ps_1519      primary  Grand Total
age_range
15-19           6991         6991
Grand Total     6991         6991

In [18]:

ps_2024 = base[
    (base.ps_2024=="primary")
]
ps_2024.id_patient.count()

ps_2024_table = ps_2024.pivot_table(index="age_range",columns="ps_2024",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_2024_table

3933

ps_2024      primary  Grand Total
age_range
20-24           3933         3933
Grand Total     3933         3933

# find scenarios

In [19]:
resum_parenting =DataFrame.from_dict(parenting_leastone.commune.value_counts().to_dict(),orient='index',columns=['nombre_de_beneficiaires'])
resum_parenting.to_excel('./parenting_repartition_beneficiaires/repartition_parenting_par_commune.xlsx',index=True,na_rep="")
hts.to_excel('./hivTested/hivTestedBeneficiairies.xlsx',index=False,na_rep="")
parenting.to_excel('./parenting_repartition_beneficiaires/parenting_completed.xlsx',na_rep="",index=False)
parenting_started.to_excel('./parenting_repartition_beneficiaires/parenting_has_started.xlsx',na_rep="",index=False)

In [22]:
curriculum_complet[(curriculum_complet.nbre_pres_for_inter==14) | (curriculum_complet.nbre_pres_for_inter==16)]

,id_patient,id_parenting_group,departement,commune,nbre_pres_for_inter,nbre_parenting_coupe_present,has_comdom_topic,number_of_condoms_sensibilize,number_condoms_sensibilization_date_in_the_interval,number_condoms_reception_in_the_interval,...,socioeco_app,prep,contraceptive,ps_1014,ps_1519,ps_2024,primary_only,primary_and_OneSecondary_services,completed_one_service,has_started_one_service
272,75975,NaN,Ouest,Kenscoff,16,0,yes,5,0,5,...,no,no,no,no,primary,no,invalid,full_primary_leastOneSecondary,invalid,no
311,76263,NaN,Ouest,Kenscoff,16,0,yes,2,0,2,...,no,no,no,primary,no,no,invalid,full_primary_leastOneSecondary,invalid,no
404,76990,NaN,Ouest,Kenscoff,16,0,yes,1,0,2,...,no,no,no,no,no,primary,invalid,full_primary_leastOneSecondary,invalid,no
413,77152,NaN,Artibonite,Liancourt,16,0,yes,0,0,1,...,yes,no,no,no,no,primary,invalid,full_primary_leastOneSecondary,invalid,no
598,79109,NaN,Ouest,Carrefour,16,0,yes,0,0,0,...,no,no,no,no,no,primary,invalid,full_primary_leastOneSecondary,invalid,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31738,127452,NaN,Artibonite,Saint-Marc,14,0,yes,0,0,0,...,no,no,no,no,primary,no,full_primary_only,invalid,invalid,no
31739,127453,NaN,Artibonite,Saint-Marc,14,0,yes,0,0,0,...,no,no,no,primary,no,no,invalid,full_primary_leastOneSecondary,invalid,no
31740,127454,NaN,Artibonite,Saint-Marc,14,0,yes,0,0,0,...,no,no,no,no,primary,no,full_primary_only,invalid,invalid,no
31741,127455,NaN,Artibonite,Saint-Marc,14,0,yes,0,0,0,...,no,no,no,no,primary,no,full_primary_only,invalid,invalid,no
31742,127456,NaN,Artibonite,Saint-Marc,14,0,yes,0,0,0,...,no,no,no,no,no,primary,full_primary_only,invalid,invalid,no