In [1]:
%%capture
from numpy import int16
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from datetime import datetime
from threading import Timer
from pandas import read_excel
from siuba import _

from oactf import actif, patient, driver, SDATA

date_du_jour = datetime.today().strftime("%d_%m_%Y")

In [4]:
""" def the_upload():
    year = ['2022-2023','2023-2024']
    schooling_dreams = read_excel(f"~/Downloads/schooling_dreams {str(datetime.today().strftime('%Y-%m-%d'))}.xlsx")
    schooling_dreams = schooling_dreams[schooling_dreams['schooling_year'].isin(year)]
    schooling_dreams = schooling_dreams[schooling_dreams.closed == False]
    payed_schooling_dreams = schooling_dreams[schooling_dreams.eskew_peye == "1"]
    return schooling_dreams, payed_schooling_dreams

t = Timer(3000.0,the_upload)
t.start()
schooling_dreams,payed_schooling_dreams = the_upload() """

from time import sleep

sleep(3)

year = ['2023-2024']
schooling_dreams = read_excel(f"~/Downloads/schooling_dreams {str(datetime.today().strftime('%Y-%m-%d'))}.xlsx")
#schooling_dreams = read_excel(f"~/Downloads/schooling_dreams 2024-04-02.xlsx")
schooling_dreams = schooling_dreams[schooling_dreams['schooling_year'].isin(year)]
schooling_dreams = schooling_dreams[schooling_dreams.closed == False]
payed_schooling_dreams = schooling_dreams[schooling_dreams.eskew_peye == "1"]

' def the_upload():\n    year = [\'2022-2023\',\'2023-2024\']\n    schooling_dreams = read_excel(f"~/Downloads/schooling_dreams {str(datetime.today().strftime(\'%Y-%m-%d\'))}.xlsx")\n    schooling_dreams = schooling_dreams[schooling_dreams[\'schooling_year\'].isin(year)]\n    schooling_dreams = schooling_dreams[schooling_dreams.closed == False]\n    payed_schooling_dreams = schooling_dreams[schooling_dreams.eskew_peye == "1"]\n    return schooling_dreams, payed_schooling_dreams\n\nt = Timer(3000.0,the_upload)\nt.start()\nschooling_dreams,payed_schooling_dreams = the_upload() '

In [5]:
schooling_dreams.closed.unique()
schooling_dreams.eskew_peye.unique()
payed_schooling_dreams.eskew_peye.unique()

array([False])

array(['---', '1'], dtype=object)

array(['1'], dtype=object)

In [6]:
actif.id_patient.count()
patient.id_patient.count()
schooling_dreams.caseid.count()
payed_schooling_dreams.caseid.count()

2539

184085

36

4

In [7]:
actif.to_excel('actif.xlsx',index=False)

In [8]:
comp = actif[actif.complete_at_least=="yes"]
comp.id_patient.count()
comp.test_results.fillna("0,",inplace=True)
comp.test_results.value_counts()

2496

/var/folders/7v/rs0k237d6nj3vdxfc1h7xtcw0000gn/T/ipykernel_38102/1809875057.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comp.test_results.fillna("0,",inplace=True)

0,       2300
0,,2,     121
2,         73
0,,3,       1
2,,3,       1
Name: test_results, dtype: int64

In [9]:
ovc_data= comp
neg_data = comp[
    (comp.test_results!="0,,3,")&
    (comp.test_results!="0,,1,,2,")&
    (comp.test_results!="0,,2,,3,")&
    (comp.test_results!="3,")&
    (comp.test_results!="2,,3,")
]
ovc_data.id_patient.count()
neg_data.id_patient.count()
neg_data.test_results.value_counts()

2496

2494

0,       2300
0,,2,     121
2,         73
Name: test_results, dtype: int64

In [10]:
positive_dreams= ovc_data[
    (ovc_data.test_results=="1,")|
    (ovc_data.test_results=="0,,1,")
]
positive_dreams.id_patient.count()

0

In [11]:
positive_dreams

Empty DataFrame
Columns: [id_patient, id_parenting_group, departement, commune, nbre_pres_for_inter, nbre_parenting_coupe_present, has_comdom_topic, has_preventive_vbg, number_of_condoms_sensibilize, number_condoms_sensibilization_date_in_the_interval, number_condoms_reception_in_the_interval, number_hiv_test_awareness_date_in_the_interval, type_of_test_vih, number_autotest_date_in_the_interval, number_test_date_in_the_interval, test_results, autotest_result, number_hiv_treatment_start_date_in_the_interval, number_vbg_treatment_date_in_the_interval, number_gynecological_care_date_in_the_interval, number_prep_awareness_date_in_the_interval, number_prep_reference_date_in_the_interval, number_prep_initiation_date_in_the_interval, number_contraceptive_sensibilization_date_in_the_interval, number_contraceptive_reception_in_the_interval, age_in_year, age_range, ovc_age, date_interview, month_in_program_range, has_schooling_payment_in_the_interval, muso, gardening, has_a_service_with_date_in_the_past, education, parenting_detailed, parenting, curriculum_detailed, curriculum, condom, hts, contraceptive, post_violence_care, socioeco_app, prep, ps_1014, ps_1519, ps_2024, secondary_1014, secondary_1519, secondary_2024, complete_1014, complete_1519, complete_2024, complete_at_least, isEnrolledQ2, isEnrolledQ4]
Index: []

[0 rows x 57 columns]

In [12]:
ovc_data.ovc_age.unique()
ovc_data.parenting.unique()
ovc_data.parenting_detailed.unique()

array(['15-17', '18-24', '10-14', '25-29', 'not_valid_age'], dtype=object)

array(['no'], dtype=object)

array(['no'], dtype=object)

In [13]:
ovcS_dreams = ovc_data[
    (ovc_data.ovc_age=="10-14")|
    (ovc_data.ovc_age=="15-17")
]
ovcS_dreams['Gender'] = "Female"
ovcS_dreams.id_patient.count()

/var/folders/7v/rs0k237d6nj3vdxfc1h7xtcw0000gn/T/ipykernel_38102/1271102160.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ovcS_dreams['Gender'] = "Female"

1276

In [14]:
ovcS_dreams = patient.merge(ovcS_dreams,on="id_patient",how="right")

In [15]:
ovcS_dreams[ovcS_dreams.dreams_code.isin(payed_schooling_dreams.dreams_code)].id_patient.count()
ovcS_dreams = ovcS_dreams[~ovcS_dreams.dreams_code.isin(payed_schooling_dreams.dreams_code)]
ovcS_dreams.id_patient.count()

0

1276

In [16]:
ovcS_dreams.parenting_detailed.unique()

array(['no'], dtype=object)

In [17]:
datim_ovc_dreams = ovcS_dreams.pivot_table(index="commune",values="id_patient",columns=["Gender","ovc_age"],aggfunc='count',fill_value=0)
datim_ovc_dreams

Gender                  Female
ovc_age                  10-14 15-17
commune
Cap Haitien                 33    16
Delmas                      24    34
Desdunes                    37    19
Dessalines/Marchandes       88    23
Grande Saline               52    30
Gressier                    11    33
Kenscoff                     2     2
La Chapelle                  8     5
Liancourt                    6    12
Milot                        6     9
Montrouis                   11    23
Petion-Ville                76    90
Petite Riviere de l'Art     20     0
Plaine du Nord               8     6
Port-au-Prince              40    94
Quartier Morin               1     4
Saint-Marc                  16    38
Tabarre                     65    64
Verrettes                  148   122

In [18]:
datim_ovc_dreams[('Female','<1')] = 0
datim_ovc_dreams[('Female','1-4')] = 0
datim_ovc_dreams[('Female','5-9')] = 0
datim_ovc_dreams[('Female','18+')] = 0
datim_ovc_dreams[('Male','<1')] = 0
datim_ovc_dreams[('Male','1-4')] = 0
datim_ovc_dreams[('Male','5-9')] = 0
datim_ovc_dreams[('Male','10-14')] = 0
datim_ovc_dreams[('Male','15-17')] = 0
datim_ovc_dreams[('Male','18+')] = 0

columns_orientation =[
    ('Female','<1'),
    ('Female','1-4'),
    ('Female','5-9'),
    ('Female','10-14'),
    ('Female','15-17'),   
    ('Female','18+'),  
    ('Male','<1'),
    ('Male','1-4'),
    ('Male','5-9'),
    ('Male','10-14'),
    ('Male','15-17'),   
    ('Male','18+'),   
]

datim_ovc_dreams = datim_ovc_dreams.reindex(columns= columns_orientation)
datim_ovc_dreams

Gender                  Female                         Male                \
ovc_age                     <1 1-4 5-9 10-14 15-17 18+   <1 1-4 5-9 10-14
commune
Cap Haitien                  0   0   0    33    16   0    0   0   0     0
Delmas                       0   0   0    24    34   0    0   0   0     0
Desdunes                     0   0   0    37    19   0    0   0   0     0
Dessalines/Marchandes        0   0   0    88    23   0    0   0   0     0
Grande Saline                0   0   0    52    30   0    0   0   0     0
Gressier                     0   0   0    11    33   0    0   0   0     0
Kenscoff                     0   0   0     2     2   0    0   0   0     0
La Chapelle                  0   0   0     8     5   0    0   0   0     0
Liancourt                    0   0   0     6    12   0    0   0   0     0
Milot                        0   0   0     6     9   0    0   0   0     0
Montrouis                    0   0   0    11    23   0    0   0   0     0
Petion-Ville                 0   0   0    76    90   0    0   0   0     0
Petite Riviere de l'Art      0   0   0    20     0   0    0   0   0     0
Plaine du Nord               0   0   0     8     6   0    0   0   0     0
Port-au-Prince               0   0   0    40    94   0    0   0   0     0
Quartier Morin               0   0   0     1     4   0    0   0   0     0
Saint-Marc                   0   0   0    16    38   0    0   0   0     0
Tabarre                      0   0   0    65    64   0    0   0   0     0
Verrettes                    0   0   0   148   122   0    0   0   0     0

Gender
ovc_age                 15-17 18+
commune
Cap Haitien                 0   0
Delmas                      0   0
Desdunes                    0   0
Dessalines/Marchandes       0   0
Grande Saline               0   0
Gressier                    0   0
Kenscoff                    0   0
La Chapelle                 0   0
Liancourt                   0   0
Milot                       0   0
Montrouis                   0   0
Petion-Ville                0   0
Petite Riviere de l'Art     0   0
Plaine du Nord              0   0
Port-au-Prince              0   0
Quartier Morin              0   0
Saint-Marc                  0   0
Tabarre                     0   0
Verrettes                   0   0

In [19]:


ovcS_dreams.to_excel(f"./ovc_results/valid_ovc_data.xlsx",na_rep="",index=False)
positive_dreams.to_excel(f"./ovc_results/positive_data/positive_dreams.xlsx",na_rep="",index=False)
datim_ovc_dreams.to_excel(f"./ovc_results/datim_ovc_dreams.xlsx",na_rep="",index=True)

ovcS_dreams.to_excel(f"./ovc_results/valid_ovc_data_{date_du_jour}.xlsx",na_rep="",index=False)
positive_dreams.to_excel(f"./ovc_results/positive_data/positive_dreams_{date_du_jour}.xlsx",na_rep="",index=False)
datim_ovc_dreams.to_excel(f"./ovc_results/datim_ovc_dreams_{date_du_jour}.xlsx",na_rep="",index=True)

ovcS_dreams.to_excel(f"./ovc_results/valid_ovc_data_FY23_Corrige_{date_du_jour}.xlsx",na_rep="",index=False)
positive_dreams.to_excel(f"./ovc_results/positive_data/positive_dreams_FY23_Corrige_{date_du_jour}.xlsx",na_rep="",index=False)
datim_ovc_dreams.to_excel(f"./ovc_results/datim_ovc_dreams_FY23_Corrige_{date_du_jour}.xlsx",na_rep="",index=True)

# export positive ID

In [20]:
from siuba import _

In [21]:
export_positive = SDATA[_.id_patient.isin(positive_dreams.id_patient)]
export_positive.shape[0]

0

In [22]:
export_positive.to_excel(f"./ovc_results/positive_data/export_positive.xlsx",index=False)
#export_positive.to_excel(f"./ovc_results/positive_data/export_positive_{date_du_jour}.xlsx",index=False)

In [23]:
driver.quit()