In [1]:
%%capture
from numpy import int16
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from datetime import datetime
from threading import Timer
from pandas import read_excel
from siuba import _

from oactf import actif, patient, driver, SDATA

date_du_jour = datetime.today().strftime("%d_%m_%Y")

In [2]:
""" def the_upload():
    year = ['2022-2023','2023-2024']
    schooling_dreams = read_excel(f"~/Downloads/schooling_dreams {str(datetime.today().strftime('%Y-%m-%d'))}.xlsx")
    schooling_dreams = schooling_dreams[schooling_dreams['schooling_year'].isin(year)]
    schooling_dreams = schooling_dreams[schooling_dreams.closed == False]
    payed_schooling_dreams = schooling_dreams[schooling_dreams.eskew_peye == "1"]
    return schooling_dreams, payed_schooling_dreams

t = Timer(3000.0,the_upload)
t.start()
schooling_dreams,payed_schooling_dreams = the_upload() """

from time import sleep

sleep(3)

year = ['2023-2024']
schooling_dreams = read_excel(f"~/Downloads/schooling_dreams {str(datetime.today().strftime('%Y-%m-%d'))}.xlsx")
#schooling_dreams = read_excel(f"~/Downloads/schooling_dreams 2024-04-02.xlsx")
schooling_dreams = schooling_dreams[schooling_dreams['schooling_year'].isin(year)]
schooling_dreams = schooling_dreams[schooling_dreams.closed == False]
payed_schooling_dreams = schooling_dreams[schooling_dreams.eskew_peye == "1"]

' def the_upload():\n    year = [\'2022-2023\',\'2023-2024\']\n    schooling_dreams = read_excel(f"~/Downloads/schooling_dreams {str(datetime.today().strftime(\'%Y-%m-%d\'))}.xlsx")\n    schooling_dreams = schooling_dreams[schooling_dreams[\'schooling_year\'].isin(year)]\n    schooling_dreams = schooling_dreams[schooling_dreams.closed == False]\n    payed_schooling_dreams = schooling_dreams[schooling_dreams.eskew_peye == "1"]\n    return schooling_dreams, payed_schooling_dreams\n\nt = Timer(3000.0,the_upload)\nt.start()\nschooling_dreams,payed_schooling_dreams = the_upload() '

In [3]:
schooling_dreams.closed.unique()
schooling_dreams.eskew_peye.unique()
payed_schooling_dreams.eskew_peye.unique()

array([False])

array(['---', '1'], dtype=object)

array(['1'], dtype=object)

In [4]:
actif.id_patient.count()
patient.id_patient.count()
schooling_dreams.caseid.count()
payed_schooling_dreams.caseid.count()

4822

187117

51

35

In [5]:
actif.to_excel('actif.xlsx',index=False)

In [6]:
comp = actif[actif.complete_at_least=="yes"]
comp.id_patient.count()
comp.test_results.fillna("0,",inplace=True)
comp.test_results.value_counts()

4733

/var/folders/7v/rs0k237d6nj3vdxfc1h7xtcw0000gn/T/ipykernel_13576/1809875057.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comp.test_results.fillna("0,",inplace=True)

0,       4546
0,,2,     119
2,         66
0,,3,       1
2,,3,       1
Name: test_results, dtype: int64

In [7]:
ovc_data= comp
neg_data = comp[
    (comp.test_results!="0,,3,")&
    (comp.test_results!="0,,1,,2,")&
    (comp.test_results!="0,,2,,3,")&
    (comp.test_results!="3,")&
    (comp.test_results!="2,,3,")
]
ovc_data.id_patient.count()
neg_data.id_patient.count()
neg_data.test_results.value_counts()

4733

4731

0,       4546
0,,2,     119
2,         66
Name: test_results, dtype: int64

In [8]:
positive_dreams= ovc_data[
    (ovc_data.test_results=="1,")|
    (ovc_data.test_results=="0,,1,")
]
positive_dreams.id_patient.count()

0

In [9]:
positive_dreams

Empty DataFrame
Columns: [id_patient, id_parenting_group, departement, commune, nbre_pres_for_inter, nbre_parenting_coupe_present, has_comdom_topic, has_preventive_vbg, number_of_condoms_sensibilize, number_condoms_sensibilization_date_in_the_interval, number_condoms_reception_in_the_interval, number_hiv_test_awareness_date_in_the_interval, type_of_test_vih, number_autotest_date_in_the_interval, number_test_date_in_the_interval, test_results, autotest_result, number_hiv_treatment_start_date_in_the_interval, number_vbg_treatment_date_in_the_interval, number_gynecological_care_date_in_the_interval, number_prep_awareness_date_in_the_interval, number_prep_reference_date_in_the_interval, number_prep_initiation_date_in_the_interval, number_contraceptive_sensibilization_date_in_the_interval, number_contraceptive_reception_in_the_interval, age_in_year, age_range, ovc_age, date_interview, month_in_program_range, has_schooling_payment_in_the_interval, muso, gardening, has_a_service_with_date_in_the_past, education, parenting_detailed, parenting, curriculum_detailed, curriculum, condom, hts, contraceptive, post_violence_care, socioeco_app, prep, ps_1014, ps_1519, ps_2024, secondary_1014, secondary_1519, secondary_2024, complete_1014, complete_1519, complete_2024, complete_at_least, isEnrolledQ2, isEnrolledQ4]
Index: []

[0 rows x 57 columns]

In [10]:
ovc_data.ovc_age.unique()
ovc_data.parenting.unique()
ovc_data.parenting_detailed.unique()

array(['10-14', '15-17', '18-24', '25-29', 'not_valid_age'], dtype=object)

array(['no'], dtype=object)

array(['no'], dtype=object)

In [11]:
ovcS_dreams = ovc_data[
    (ovc_data.ovc_age=="10-14")|
    (ovc_data.ovc_age=="15-17")
]
ovcS_dreams['Gender'] = "Female"
ovcS_dreams.id_patient.count()

/var/folders/7v/rs0k237d6nj3vdxfc1h7xtcw0000gn/T/ipykernel_13576/1271102160.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ovcS_dreams['Gender'] = "Female"

2847

In [12]:
ovcS_dreams = patient.merge(ovcS_dreams,on="id_patient",how="right")

In [13]:
ovcS_dreams[ovcS_dreams.dreams_code.isin(payed_schooling_dreams.dreams_code)].id_patient.count()
ovcS_dreams = ovcS_dreams[~ovcS_dreams.dreams_code.isin(payed_schooling_dreams.dreams_code)]
ovcS_dreams.id_patient.count()

24

2823

In [14]:
ovcS_dreams.parenting_detailed.unique()

array(['no'], dtype=object)

In [15]:
datim_ovc_dreams = ovcS_dreams.pivot_table(index="commune",values="id_patient",columns=["Gender","ovc_age"],aggfunc='count',fill_value=0)
datim_ovc_dreams

Gender                  Female
ovc_age                  10-14 15-17
commune
Cap Haitien                474   328
Carrefour                   37    36
Delmas                      23    34
Desdunes                    63    46
Dessalines/Marchandes      112    38
Grande Saline               52    29
Gressier                    11    31
Kenscoff                   104    34
La Chapelle                 19    22
Liancourt                    6    11
Limonade                    16     6
Milot                        1     1
Montrouis                    3     3
Petion-Ville                74    91
Petite Riviere de l'Art     57    25
Plaine du Nord              16     7
Port-au-Prince              44   100
Quartier Morin               1     4
Saint-Marc                  25    56
Tabarre                     88    83
Verrettes                  320   292

In [16]:
datim_ovc_dreams[('Female','<1')] = 0
datim_ovc_dreams[('Female','1-4')] = 0
datim_ovc_dreams[('Female','5-9')] = 0
datim_ovc_dreams[('Female','18+')] = 0
datim_ovc_dreams[('Male','<1')] = 0
datim_ovc_dreams[('Male','1-4')] = 0
datim_ovc_dreams[('Male','5-9')] = 0
datim_ovc_dreams[('Male','10-14')] = 0
datim_ovc_dreams[('Male','15-17')] = 0
datim_ovc_dreams[('Male','18+')] = 0

columns_orientation =[
    ('Female','<1'),
    ('Female','1-4'),
    ('Female','5-9'),
    ('Female','10-14'),
    ('Female','15-17'),   
    ('Female','18+'),  
    ('Male','<1'),
    ('Male','1-4'),
    ('Male','5-9'),
    ('Male','10-14'),
    ('Male','15-17'),   
    ('Male','18+'),   
]

datim_ovc_dreams = datim_ovc_dreams.reindex(columns= columns_orientation)
datim_ovc_dreams

Gender                  Female                         Male                \
ovc_age                     <1 1-4 5-9 10-14 15-17 18+   <1 1-4 5-9 10-14
commune
Cap Haitien                  0   0   0   474   328   0    0   0   0     0
Carrefour                    0   0   0    37    36   0    0   0   0     0
Delmas                       0   0   0    23    34   0    0   0   0     0
Desdunes                     0   0   0    63    46   0    0   0   0     0
Dessalines/Marchandes        0   0   0   112    38   0    0   0   0     0
Grande Saline                0   0   0    52    29   0    0   0   0     0
Gressier                     0   0   0    11    31   0    0   0   0     0
Kenscoff                     0   0   0   104    34   0    0   0   0     0
La Chapelle                  0   0   0    19    22   0    0   0   0     0
Liancourt                    0   0   0     6    11   0    0   0   0     0
Limonade                     0   0   0    16     6   0    0   0   0     0
Milot                        0   0   0     1     1   0    0   0   0     0
Montrouis                    0   0   0     3     3   0    0   0   0     0
Petion-Ville                 0   0   0    74    91   0    0   0   0     0
Petite Riviere de l'Art      0   0   0    57    25   0    0   0   0     0
Plaine du Nord               0   0   0    16     7   0    0   0   0     0
Port-au-Prince               0   0   0    44   100   0    0   0   0     0
Quartier Morin               0   0   0     1     4   0    0   0   0     0
Saint-Marc                   0   0   0    25    56   0    0   0   0     0
Tabarre                      0   0   0    88    83   0    0   0   0     0
Verrettes                    0   0   0   320   292   0    0   0   0     0

Gender
ovc_age                 15-17 18+
commune
Cap Haitien                 0   0
Carrefour                   0   0
Delmas                      0   0
Desdunes                    0   0
Dessalines/Marchandes       0   0
Grande Saline               0   0
Gressier                    0   0
Kenscoff                    0   0
La Chapelle                 0   0
Liancourt                   0   0
Limonade                    0   0
Milot                       0   0
Montrouis                   0   0
Petion-Ville                0   0
Petite Riviere de l'Art     0   0
Plaine du Nord              0   0
Port-au-Prince              0   0
Quartier Morin              0   0
Saint-Marc                  0   0
Tabarre                     0   0
Verrettes                   0   0

In [17]:


ovcS_dreams.to_excel(f"./ovc_results/valid_ovc_data.xlsx",na_rep="",index=False)
positive_dreams.to_excel(f"./ovc_results/positive_data/positive_dreams.xlsx",na_rep="",index=False)
datim_ovc_dreams.to_excel(f"./ovc_results/datim_ovc_dreams.xlsx",na_rep="",index=True)

ovcS_dreams.to_excel(f"./ovc_results/valid_ovc_data_{date_du_jour}.xlsx",na_rep="",index=False)
positive_dreams.to_excel(f"./ovc_results/positive_data/positive_dreams_{date_du_jour}.xlsx",na_rep="",index=False)
datim_ovc_dreams.to_excel(f"./ovc_results/datim_ovc_dreams_{date_du_jour}.xlsx",na_rep="",index=True)

ovcS_dreams.to_excel(f"./ovc_results/valid_ovc_data_FY23_Corrige_{date_du_jour}.xlsx",na_rep="",index=False)
positive_dreams.to_excel(f"./ovc_results/positive_data/positive_dreams_FY23_Corrige_{date_du_jour}.xlsx",na_rep="",index=False)
datim_ovc_dreams.to_excel(f"./ovc_results/datim_ovc_dreams_FY23_Corrige_{date_du_jour}.xlsx",na_rep="",index=True)

# export positive ID

In [18]:
from siuba import _

In [19]:
export_positive = SDATA[_.id_patient.isin(positive_dreams.id_patient)]
export_positive.shape[0]

0

In [20]:
export_positive.to_excel(f"./ovc_results/positive_data/export_positive.xlsx",index=False)
#export_positive.to_excel(f"./ovc_results/positive_data/export_positive_{date_du_jour}.xlsx",index=False)

In [21]:
driver.quit()

In [22]:
"""
* All the AGYW of the 10-14 age band have completed the primary package of services and received at least one additional secondary service. Therefore they are already counted in the first table of the indicator as they have been offered/given condoms after they have completed the primary package. 				
"""

'\n* All the AGYW of the 10-14 age band have completed the primary package of services and received at least one additional secondary service. Therefore they are already counted in the first table of the indicator as they have been offered/given condoms after they have completed the primary package. \t\t\t\t\n'