In [1]:
%%capture
from numpy import int16
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from datetime import datetime

from oactf import actif

date_du_jour = datetime.today().strftime("%d_%m_%Y")

In [2]:
actif.id_patient.count()

13151

In [3]:
comp_pastTwo = actif[actif.complete_at_least=="yes"]
comp_pastTwo.id_patient.count()
comp_pastTwo.test_results.fillna("0,",inplace=True)
comp_pastTwo.test_results.value_counts()

12049

/var/folders/7v/rs0k237d6nj3vdxfc1h7xtcw0000gn/T/ipykernel_5524/2197962496.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comp_pastTwo.test_results.fillna("0,",inplace=True)

0,          10708
0,,2,         824
2,            502
1,              5
0,,3,           4
0,,1,           3
0,,2,,3,        1
2,,3,           1
3,              1
Name: test_results, dtype: int64

In [4]:
ovc_data = comp_pastTwo[
    (comp_pastTwo.test_results!="0,,3,")&
    (comp_pastTwo.test_results!="0,,1,,2,")&
    (comp_pastTwo.test_results!="0,,2,,3,")&
    (comp_pastTwo.test_results!="3,")&
    (comp_pastTwo.test_results!="2,,3,")
]
ovc_data.id_patient.count()
ovc_data.test_results.value_counts()

12042

0,       10708
0,,2,      824
2,         502
1,           5
0,,1,        3
Name: test_results, dtype: int64

In [5]:
positive_dreams= ovc_data[
    (ovc_data.test_results=="1,")|
    (ovc_data.test_results=="0,,1,")
]
positive_dreams.id_patient.count()

8

In [6]:
positive_dreams

,id_patient,id_parenting_group,departement,commune,nbre_pres_for_inter,nbre_parenting_coupe_present,has_comdom_topic,has_preventive_vbg,number_of_condoms_sensibilize,number_condoms_sensibilization_date_in_the_interval,...,ps_1519,ps_2024,secondary_1014,secondary_1519,secondary_2024,complete_1014,complete_1519,complete_2024,complete_at_least,isEnrolledQ2
1376,131108,NaN,Artibonite,Grande Saline,21,0,yes,yes,1,1,...,primary,no,no,secondary,no,no,no,no,yes,no
1384,131192,NaN,Artibonite,Grande Saline,21,0,yes,yes,1,1,...,primary,no,no,secondary,no,no,no,no,yes,no
1398,130124,NaN,Artibonite,Grande Saline,21,0,yes,yes,1,1,...,primary,no,no,secondary,no,no,no,no,yes,no
1408,130358,NaN,Artibonite,Grande Saline,21,0,yes,yes,1,1,...,primary,no,no,secondary,no,no,no,no,yes,no
3061,151637,NaN,Artibonite,Grande Saline,21,0,yes,yes,1,1,...,no,primary,no,no,secondary,no,no,no,yes,yes
6096,109625,NaN,Artibonite,Petite Rivi√®re de l'Artibonite,15,0,yes,yes,1,0,...,no,no,no,no,no,no,no,no,yes,no
12254,85541,NaN,Ouest,Delmas,21,0,yes,yes,1,0,...,no,primary,no,no,no,no,no,no,yes,no
12480,80897,NaN,Artibonite,Grande Saline,0,0,no,None,1,0,...,no,no,no,no,secondary,no,no,complete,yes,no

In [7]:
ovc_data.ovc_age.unique()
ovc_data.parenting.unique()
ovc_data.parenting_detailed.unique()

array(['18-24', '15-17', '25-29', '10-14', 'not_valid_age'], dtype=object)

array(['no', 'yes'], dtype=object)

array(['no', 'yes', 'has_started'], dtype=object)

In [8]:
ovcS_dreams = ovc_data[
    (ovc_data.ovc_age=="10-14")|
    (ovc_data.ovc_age=="15-17")
]
ovcS_dreams.id_patient.count()
ovcS_dreams['Gender'] = "Female"

7820

/var/folders/7v/rs0k237d6nj3vdxfc1h7xtcw0000gn/T/ipykernel_5524/4236012469.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ovcS_dreams['Gender'] = "Female"

In [9]:
ovcS_dreams.parenting_detailed.unique()

array(['no', 'yes', 'has_started'], dtype=object)

In [10]:
datim_ovc_dreams = ovcS_dreams.pivot_table(index="commune",values="id_patient",columns=["Gender","ovc_age"],aggfunc='count',fill_value=0)

In [11]:
datim_ovc_dreams[('Female','<1')] = 0
datim_ovc_dreams[('Female','1-4')] = 0
datim_ovc_dreams[('Female','5-9')] = 0
datim_ovc_dreams[('Female','18+')] = 0
datim_ovc_dreams[('Male','<1')] = 0
datim_ovc_dreams[('Male','1-4')] = 0
datim_ovc_dreams[('Male','5-9')] = 0
datim_ovc_dreams[('Male','10-14')] = 0
datim_ovc_dreams[('Male','15-17')] = 0
datim_ovc_dreams[('Male','18+')] = 0

columns_orientation =[
    ('Female','<1'),
    ('Female','1-4'),
    ('Female','5-9'),
    ('Female','10-14'),
    ('Female','15-17'),   
    ('Female','18+'),  
    ('Male','<1'),
    ('Male','1-4'),
    ('Male','5-9'),
    ('Male','10-14'),
    ('Male','15-17'),   
    ('Male','18+'),   
]

datim_ovc_dreams = datim_ovc_dreams.reindex(columns= columns_orientation)
datim_ovc_dreams

Gender                         Female                         Male          \
ovc_age                            <1 1-4 5-9 10-14 15-17 18+   <1 1-4 5-9
commune
Cap-Ha√Øtien                         0   0   0   212   173   0    0   0   0
Carrefour                           0   0   0   214   157   0    0   0   0
Delmas                              0   0   0    55   106   0    0   0   0
Desdunes                            0   0   0   207   161   0    0   0   0
Dessalines                          0   0   0   408    68   0    0   0   0
Grande Saline                       0   0   0   278   136   0    0   0   0
Gressier                            0   0   0   132    97   0    0   0   0
Kenscoff                            0   0   0  1007   464   0    0   0   0
La Chapelle                         0   0   0   166   100   0    0   0   0
Liancourt                           0   0   0    92    64   0    0   0   0
Limonade                            0   0   0    88    83   0    0   0   0
Milot                               0   0   0    41    29   0    0   0   0
Montrouis                           0   0   0    85    92   0    0   0   0
Petite Rivi√®re de l'Artibonite      0   0   0   256   168   0    0   0   0
Plaine-du-Nord                      0   0   0    73    70   0    0   0   0
Port-au-Prince                      0   0   0   249   299   0    0   0   0
P√©tionville                         0   0   0   132   155   0    0   0   0
Quartier-Morin                      0   0   0    54    28   0    0   0   0
Saint-Marc                          0   0   0   380   351   0    0   0   0
Tabarre                             0   0   0   131    99   0    0   0   0
Verrettes                           0   0   0   396   264   0    0   0   0

Gender
ovc_age                        10-14 15-17 18+
commune
Cap-Ha√Øtien                        0     0   0
Carrefour                          0     0   0
Delmas                             0     0   0
Desdunes                           0     0   0
Dessalines                         0     0   0
Grande Saline                      0     0   0
Gressier                           0     0   0
Kenscoff                           0     0   0
La Chapelle                        0     0   0
Liancourt                          0     0   0
Limonade                           0     0   0
Milot                              0     0   0
Montrouis                          0     0   0
Petite Rivi√®re de l'Artibonite     0     0   0
Plaine-du-Nord                     0     0   0
Port-au-Prince                     0     0   0
P√©tionville                        0     0   0
Quartier-Morin                     0     0   0
Saint-Marc                         0     0   0
Tabarre                            0     0   0
Verrettes                          0     0   0

In [12]:
#positive_dreams.to_excel('./ovc_results/positive_data/positive_dreams.xlsx',na_rep="",index=False)
#datim_ovc_dreams.to_excel('./ovc_results/datim_ovc_dreams.xlsx',na_rep="",index=True)

ovcS_dreams.to_excel(f"./ovc_results/valid_ovc_data_{date_du_jour}.xlsx",na_rep="",index=False)
positive_dreams.to_excel(f"./ovc_results/positive_data/positive_dreams_{date_du_jour}.xlsx",na_rep="",index=False)
datim_ovc_dreams.to_excel(f"./ovc_results/datim_ovc_dreams_{date_du_jour}.xlsx",na_rep="",index=True)