In [1]:
from IPython.core.interactiveshell import InteractiveShell
from datetime import datetime

from hts import hts_screening
from pandas import to_datetime


InteractiveShell.ast_node_interactivity = "all"
date_du_jour = datetime.today().strftime("%d_%m_%Y")

In [6]:
hts_screening.columns
hts_screening.case_id.count()

Index(['case_id', 'id_patient', 'patient_code', 'lastname', 'firstname', 'dob',
       'age', 'age_range', 'ovc_age', 'commune', 'interview_date',
       'a7_ak_kils_w_ap_viv_10_14',
       'si_ou_gen_menaj_deja_ou_konn_f_bagay_av_l',
       'a12_ki_laj_ou_te_genyen_l_ou_te_kmanse_f_bagay_pou_premye_fwa',
       'b12_premye_fwa_ou_te_f_bagay_ske_se_te',
       'ske_ou_svi_ak_kapt_deja_l_w_ap_f_bagay',
       'pandan_douz_dnye_mwa_yo_konbyen_fwa_ou_te_svi_ak_kapt', 'a7_score',
       '12_score', '12a_score', '12b_score', '14a_score', '15a_score',
       'total_score'],
      dtype='object')

64586

In [7]:
screening_vih = hts_screening[
    [
        'id_patient',
        'patient_code',
        'total_score',
        'lastname',
        'firstname',
        'interview_date',
        'dob',
        'age',
        'commune',
        'age_range',
        'ovc_age',
        'case_id'
    ]
]
screening_vih.case_id.count()
screening_vih.columns
screening_vih

64586

Index(['id_patient', 'patient_code', 'total_score', 'lastname', 'firstname',
       'interview_date', 'dob', 'age', 'commune', 'age_range', 'ovc_age',
       'case_id'],
      dtype='object')

,id_patient,patient_code,total_score,lastname,firstname,interview_date,dob,age,commune,age_range,ovc_age,case_id
0,NaN,None,0,Joseph,Daniella,2007-06-06,2007-06-06,14.0,petion_ville,10-14,10-14,0002836f-946d-462d-b6e1-6c2988095d0c
1,NaN,None,20,Beauprince,Nadia,2021-11-01,2000-08-12,21.0,petion_ville,20-24,18-24,0003c06c-9400-46e3-8bf6-297c1f682608
2,89468.0,CAP/DRMS/147181402,24,Etienne,Guivena,2020-08-04,2003-07-13,18.0,milot,15-19,18-24,000819c9-0838-4425-ac09-11996734cfdd
3,129653.0,PAP/DRMS/027352801,20,Romélus,Michelanda,2018-06-07,2003-11-27,18.0,port-au-prince,15-19,18-24,000851a0-9d15-4153-8072-6df912a22539
4,NaN,None,0,louis,fadia,2018-08-19,2004-07-25,17.0,delmas,15-19,15-17,00099db9-a4e7-42b2-a825-7331d1c67176
...,...,...,...,...,...,...,...,...,...,...,...,...
64581,52192.0,PAP/DRMS/010002532,20,Bellevue,Altagrace,2020-01-28,2001-02-01,21.0,carrefour,20-24,18-24,fffbca7a-a5a3-484d-9419-99e0c2499b49
64582,121698.0,PAP/DRMS/190288622,28,luma,yvenette,2021-08-04,1998-11-09,23.0,petion_ville,20-24,18-24,fffcff4e-8dd0-4408-b43e-52165485722e
64583,NaN,None,4,Deusma,Megina,2020-08-07,2000-08-04,21.0,carrefour,20-24,18-24,fffd3e4f-ad95-4821-b0c1-b71aa9621c60
64584,82316.0,PAP/DRMS/083054803,32,Cézar,Anaphcar,2020-07-22,2005-02-16,17.0,verrettes,15-19,15-17,fffe4f44-96ef-4998-b9f9-1eca97597346
64585,NaN,None,0,Luma,Estherline,2019-09-13,2005-10-07,16.0,carrefour,15-19,15-17,fffe849f-adca-44b6-b122-1e3ba575e1f5