In [1]:
%%capture
from sys import path
path.insert(0, '../static')
from agyw import AgywPrev
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from pandas import DataFrame

In [2]:
%%capture
datim = AgywPrev()

# base active

In [3]:
base = datim.data_dreams_valid
base.id_patient.count()

19817

# Curriculum

In [4]:
curriculum_complet = base[
    (base.curriculum=="yes")
]
curriculum_complet.id_patient.count()

curriculum_table = curriculum_complet.pivot_table(index="age_range",columns="curriculum",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

16841

curriculum     yes  Grand Total
age_range
10-14         5540         5540
15-19         7179         7179
20-24         4122         4122
Grand Total  16841        16841

# least one curriculum

In [5]:
curriculum_least = base[
    (base.curriculum_detailed!="no")
]
curriculum_least.id_patient.count()

curriculum_table = curriculum_least.pivot_table(index="age_range",columns="curriculum_detailed",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

19111

curriculum_detailed  has_started    yes  Grand Total
age_range
10-14                        898   5540         6438
15-19                        946   7179         8125
20-24                        426   4122         4548
Grand Total                 2270  16841        19111

# Parenting

In [6]:
parenting = base[
    (base.parenting=="yes")
]
parenting.id_patient.count()
parenting_table = parenting.pivot_table(index="age_range",columns="parenting",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_table

321

parenting    yes  Grand Total
age_range
10-14        158          158
15-19        163          163
Grand Total  321          321

# least one session parenting

In [7]:
parenting_leastone= base[
    (base.parenting_detailed!="no")
]

parenting_leastone.id_patient.count()
parenting_table = parenting_leastone.pivot_table(index="age_range",columns="parenting_detailed",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_table


# ---------------

parenting_started = base[
    (base.parenting_detailed=='has_started')
]
parenting_started.id_patient.count()

422

parenting_detailed  has_started  yes  Grand Total
age_range
10-14                        47  158          205
15-19                        54  163          217
Grand Total                 101  321          422

101

# condoms

In [8]:
condom = base[
    (base.condom=="yes")
]
condom.id_patient.count()

condom_table = condom.pivot_table(index="age_range",columns="condom",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
condom_table

19439

condom         yes  Grand Total
age_range
10-14         6364         6364
15-19         8377         8377
20-24         4698         4698
Grand Total  19439        19439

# HTS

In [9]:
hts = base[
    (base.hts=="yes")
]
hts.id_patient.count()

hts_table = hts.pivot_table(index="age_range",columns="hts",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
hts_table

2905

hts           yes  Grand Total
age_range
10-14         415          415
15-19        1183         1183
20-24        1307         1307
Grand Total  2905         2905

# post violence care

In [10]:


post_violence_care = base[
    (base.post_violence_care=="yes")
]
post_violence_care.id_patient.count()

post_violence_care_table = post_violence_care.pivot_table(index="age_range",columns="post_violence_care",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
post_violence_care_table

200

post_violence_care  yes  Grand Total
age_range
10-14                16           16
15-19                84           84
20-24               100          100
Grand Total         200          200

In [11]:


vbg = base[
    (base.vbg=="yes")
]
vbg.id_patient.count()

vbg_table = vbg.pivot_table(index="age_range",columns="vbg",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
vbg_table

67

vbg          yes  Grand Total
age_range
10-14          2            2
15-19         24           24
20-24         41           41
Grand Total   67           67

In [12]:


gyneco = base[
    (base.gyneco=="yes")
]
gyneco.id_patient.count()

gyneco_table = gyneco.pivot_table(index="age_range",columns="gyneco",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
gyneco_table

158

gyneco       yes  Grand Total
age_range
10-14         14           14
15-19         66           66
20-24         78           78
Grand Total  158          158

# Socio_eco_app

In [13]:

socioeco_app = base[
    (base.socioeco_app=="yes")
]
socioeco_app.id_patient.count()

socioeco_app_table = socioeco_app.pivot_table(index="age_range",columns="socioeco_app",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
socioeco_app_table

694

socioeco_app  yes  Grand Total
age_range
10-14         175          175
15-19         257          257
20-24         262          262
Grand Total   694          694

# Prep

In [14]:
prep = base[
    (base.prep=="yes")
]
prep.id_patient.count()

prep_table = prep.pivot_table(index="age_range",columns="prep",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
prep_table


#GOOD!!!!!

222

prep         yes  Grand Total
age_range
15-19         93           93
20-24        129          129
Grand Total  222          222

# Contraceptive

In [15]:
contraceptive = base[
    (base.contraceptive=="yes")
]
contraceptive.id_patient.count()
if contraceptive.id_patient.count() !=0:
    contraceptive_table = contraceptive.pivot_table(index="age_range",columns="contraceptive",
                            values='id_patient',
                            aggfunc='count',
                            fill_value=0,
                            margins=True,
                            margins_name="Grand Total"                             
    )
    contraceptive_table

15

contraceptive  yes  Grand Total
age_range
15-19            3            3
20-24           12           12
Grand Total     15           15

# Primary_services

In [16]:

ps_1014 = base[
    (base.ps_1014=="primary")
]
ps_1014.id_patient.count()

ps_1014_table = ps_1014.pivot_table(index="age_range",columns="ps_1014",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1014_table

5540

ps_1014      primary  Grand Total
age_range
10-14           5540         5540
Grand Total     5540         5540

In [17]:

ps_1519 = base[
    (base.ps_1519=="primary")
]
ps_1519.id_patient.count()

ps_1519_table = ps_1519.pivot_table(index="age_range",columns="ps_1519",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1519_table

7179

ps_1519      primary  Grand Total
age_range
15-19           7179         7179
Grand Total     7179         7179

In [18]:

ps_2024 = base[
    (base.ps_2024=="primary")
]
ps_2024.id_patient.count()

ps_2024_table = ps_2024.pivot_table(index="age_range",columns="ps_2024",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_2024_table

4122

ps_2024      primary  Grand Total
age_range
20-24           4122         4122
Grand Total     4122         4122

# preventive vbg

In [19]:
preventive_vbg = base[base.has_preventive_vbg=="yes"]
preventive_vbg.id_patient.count()

preventive_vbg.pivot_table(index="age_range",columns="has_preventive_vbg",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)

17594

has_preventive_vbg    yes  Grand Total
age_range
10-14                5815         5815
15-19                7493         7493
20-24                4286         4286
Grand Total         17594        17594

# find scenarios

In [20]:
resum_parenting =DataFrame.from_dict(parenting_leastone.commune.value_counts().to_dict(),orient='index',columns=['nombre_de_beneficiaires'])
resum_parenting.to_excel('./parenting_repartition_beneficiaires/repartition_parenting_par_commune.xlsx',index=True,na_rep="")
hts.to_excel('./hivTested/hivTestedBeneficiairies.xlsx',index=False,na_rep="")
parenting.to_excel('./parenting_repartition_beneficiaires/parenting_completed.xlsx',na_rep="",index=False)
parenting_started.to_excel('./parenting_repartition_beneficiaires/parenting_has_started.xlsx',na_rep="",index=False)
parenting_leastone.to_excel('./parenting_repartition_beneficiaires/parenting_leastone.xlsx',na_rep="",index=False)