In [1]:
%%capture
from sys import path
path.insert(0, '../static')
from agyw import AgywPrev
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from pandas import DataFrame

In [3]:
%%capture
datim = AgywPrev()

# base active

In [4]:
base = datim.data_dreams_valid
base.id_patient.count()

19177

# Curriculum

In [5]:
curriculum_complet = base[
    (base.curriculum=="yes")
]
curriculum_complet.id_patient.count()

curriculum_table = curriculum_complet.pivot_table(index="age_range",columns="curriculum",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

16709

curriculum     yes  Grand Total
age_range
10-14         5867         5867
15-19         6948         6948
20-24         3894         3894
Grand Total  16709        16709

# least one curriculum

In [6]:
curriculum_least = base[
    (base.curriculum_detailed!="no")
]
curriculum_least.id_patient.count()

curriculum_table = curriculum_least.pivot_table(index="age_range",columns="curriculum_detailed",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

18964

curriculum_detailed  has_started    yes  Grand Total
age_range
10-14                        959   5867         6826
15-19                        901   6948         7849
20-24                        395   3894         4289
Grand Total                 2255  16709        18964

# Parenting

In [7]:
parenting = base[
    (base.parenting=="yes")
]
parenting.id_patient.count()
parenting_table = parenting.pivot_table(index="age_range",columns="parenting",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_table

299

parenting    yes  Grand Total
age_range
10-14        155          155
15-19        144          144
Grand Total  299          299

In [8]:
parenting.to_excel('./parenting_repartition_beneficiaires/parenting_completed.xlsx',na_rep="",index=False)

# least one session parenting

In [9]:
parenting_leastone= base[
    (base.parenting_detailed!="no")
]

parenting_leastone.id_patient.count()
parenting_table = parenting_leastone.pivot_table(index="age_range",columns="parenting_detailed",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_table

386

parenting_detailed  has_started  yes  Grand Total
age_range
10-14                        44  155          199
15-19                        43  144          187
Grand Total                  87  299          386

# condoms

In [10]:
condom = base[
    (base.condom=="yes")
]
condom.id_patient.count()

condom_table = condom.pivot_table(index="age_range",columns="condom",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
condom_table

18795

condom         yes  Grand Total
age_range
10-14         6663         6663
15-19         7814         7814
20-24         4318         4318
Grand Total  18795        18795

# HTS

In [11]:
hts = base[
    (base.hts=="yes")
]
hts.id_patient.count()

hts_table = hts.pivot_table(index="age_range",columns="hts",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
hts_table

2886

hts           yes  Grand Total
age_range
10-14         446          446
15-19        1185         1185
20-24        1255         1255
Grand Total  2886         2886

# post violence care

In [12]:


post_violence_care = base[
    (base.post_violence_care=="yes")
]
post_violence_care.id_patient.count()

post_violence_care_table = post_violence_care.pivot_table(index="age_range",columns="post_violence_care",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
post_violence_care_table

201

post_violence_care  yes  Grand Total
age_range
10-14                19           19
15-19                84           84
20-24                98           98
Grand Total         201          201

In [13]:


vbg = base[
    (base.vbg=="yes")
]
vbg.id_patient.count()

vbg_table = vbg.pivot_table(index="age_range",columns="vbg",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
vbg_table

68

vbg          yes  Grand Total
age_range
10-14          2            2
15-19         26           26
20-24         40           40
Grand Total   68           68

In [14]:


gyneco = base[
    (base.gyneco=="yes")
]
gyneco.id_patient.count()

gyneco_table = gyneco.pivot_table(index="age_range",columns="gyneco",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
gyneco_table

158

gyneco       yes  Grand Total
age_range
10-14         17           17
15-19         66           66
20-24         75           75
Grand Total  158          158

# Socio_eco_app

In [15]:

socioeco_app = base[
    (base.socioeco_app=="yes")
]
socioeco_app.id_patient.count()

socioeco_app_table = socioeco_app.pivot_table(index="age_range",columns="socioeco_app",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
socioeco_app_table

586

socioeco_app  yes  Grand Total
age_range
10-14         168          168
15-19         209          209
20-24         209          209
Grand Total   586          586

# Prep

In [16]:
prep = base[
    (base.prep=="yes")
]
prep.id_patient.count()

prep_table = prep.pivot_table(index="age_range",columns="prep",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
prep_table

236

prep         yes  Grand Total
age_range
10-14          9            9
15-19        104          104
20-24        123          123
Grand Total  236          236

# Contraceptive

In [17]:
contraceptive = base[
    (base.contraceptive=="yes")
]
contraceptive.id_patient.count()
if contraceptive.id_patient.count() !=0:
    contraceptive_table = contraceptive.pivot_table(index="age_range",columns="contraceptive",
                            values='id_patient',
                            aggfunc='count',
                            fill_value=0,
                            margins=True,
                            margins_name="Grand Total"                             
    )
    contraceptive_table

15

contraceptive  yes  Grand Total
age_range
15-19            3            3
20-24           12           12
Grand Total     15           15

# Primary_services

In [18]:

ps_1014 = base[
    (base.ps_1014=="primary")
]
ps_1014.id_patient.count()

ps_1014_table = ps_1014.pivot_table(index="age_range",columns="ps_1014",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1014_table

5867

ps_1014      primary  Grand Total
age_range
10-14           5867         5867
Grand Total     5867         5867

In [19]:

ps_1519 = base[
    (base.ps_1519=="primary")
]
ps_1519.id_patient.count()

ps_1519_table = ps_1519.pivot_table(index="age_range",columns="ps_1519",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1519_table

6948

ps_1519      primary  Grand Total
age_range
15-19           6948         6948
Grand Total     6948         6948

In [20]:

ps_2024 = base[
    (base.ps_2024=="primary")
]
ps_2024.id_patient.count()

ps_2024_table = ps_2024.pivot_table(index="age_range",columns="ps_2024",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_2024_table

3894

ps_2024      primary  Grand Total
age_range
20-24           3894         3894
Grand Total     3894         3894

# find scenarios

In [21]:
badprep = base[
    (base.prep=="yes")&
    (base.age_range=="10-14")
]
badprep.id_patient.count()
badprep.to_excel('./badprepdata/badprep.xlsx',index=False,na_rep="")

9

In [22]:
resum_parenting =DataFrame.from_dict(parenting_leastone.commune.value_counts().to_dict(),orient='index',columns=['nombre_de_beneficiaires'])
resum_parenting.to_excel('./parenting_repartition_beneficiaires/repartition_parenting_par_commune.xlsx',index=True,na_rep="")