In [1]:
%%capture
from sys import path
path.insert(0, '../core')
from agyw import AgywPrev
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from pandas import (
    DataFrame,
    ExcelWriter
)
import openpyxl
from os import path

from time import (
    gmtime,
    strftime
)

In [2]:
%%capture
datim = AgywPrev()

# base active

In [3]:
base = datim.data_dreams_valid
base.id_patient.count()

18364

In [4]:
base.columns

Index(['id_patient', 'id_parenting_group', 'departement', 'commune',
       'nbre_pres_for_inter', 'nbre_parenting_coupe_present',
       'has_comdom_topic', 'has_preventive_vbg',
       'number_of_condoms_sensibilize',
       'number_condoms_sensibilization_date_in_the_interval',
       'number_condoms_reception_in_the_interval',
       'number_hiv_test_awareness_date_in_the_interval', 'type_of_test_vih',
       'number_autotest_date_in_the_interval',
       'number_test_date_in_the_interval', 'test_results', 'autotest_result',
       'number_hiv_treatment_start_date_in_the_interval',
       'number_vbg_treatment_date_in_the_interval',
       'number_gynecological_care_date_in_the_interval',
       'number_prep_awareness_date_in_the_interval',
       'number_prep_reference_date_in_the_interval',
       'number_prep_initiation_date_in_the_interval',
       'number_contraceptive_sensibilization_date_in_the_interval',
       'number_contraceptive_reception_in_the_interval', 'age_in_year',
       'age_range', 'ovc_age', 'date_interview', 'month_in_program_range',
       'has_schooling_payment_in_the_interval', 'muso', 'gardening',
       'has_a_service_with_date_in_the_past', 'education',
       'parenting_detailed', 'parenting', 'curriculum_detailed', 'curriculum',
       'condom', 'hts_awareness', 'hts_type_test', 'hts',
       'hts_autotest_result', 'hts_test_result', 'hts_treatment_debut', 'vbg',
       'gyneco', 'post_violence_care', 'socioeco_app', 'prep_awareness',
       'prep_reference', 'prep', 'contraceptive_awareness', 'contraceptive',
       'ps_1014', 'ps_1519', 'ps_2024', 'primary_only',
       'primary_and_OneSecondary_services', 'completed_one_service',
       'has_started_one_service'],
      dtype='object')

In [5]:
 base.pivot_table(index='age_range', values='id_patient',columns='departement',aggfunc='count',fill_value=0, margins=True)

departement  Artibonite  Nord  Ouest    All
age_range
10-14              3786   734   2658   7178
15-19              3386   874   3219   7479
20-24              1688   471   1548   3707
All                8860  2079   7425  18364

In [6]:
base_table = base.pivot_table(index='age_range', values='id_patient',columns='departement',aggfunc='count',fill_value=0, margins=True,
    margins_name = "Total"
)[:-1]
base_table = base_table.reset_index().rename_axis(None, axis=1)
base_table = DataFrame(base_table.to_records(index=False))
base_table
#base_table.to_excel('base_total.xlsx',index=False,na_rep="")

  age_range  Artibonite  Nord  Ouest  Total
0     10-14        3786   734   2658   7178
1     15-19        3386   874   3219   7479
2     20-24        1688   471   1548   3707

# Education

In [7]:
education_complet = base[
    (base.education=="yes")
]
education_complet.id_patient.count()

education_table = education_complet.pivot_table(index="age_range",columns="education",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
education_table

153

education    yes  Grand Total
age_range
10-14         90           90
15-19         59           59
20-24          4            4
Grand Total  153          153

# Curriculum

In [8]:
curriculum_complet = base[
    (base.curriculum=="yes")
]
curriculum_complet.id_patient.count()

curriculum_table = curriculum_complet.pivot_table(index="age_range",columns="curriculum",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

15887

curriculum     yes  Grand Total
age_range
10-14         6071         6071
15-19         6538         6538
20-24         3278         3278
Grand Total  15887        15887

# least one curriculum

In [9]:
curriculum_least = base[
    (base.curriculum_detailed!="no")
]
curriculum_least.id_patient.count()

curriculum_table = curriculum_least.pivot_table(index="age_range",columns="curriculum_detailed",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

18265

curriculum_detailed  has_started    yes  Grand Total
age_range
10-14                       1094   6071         7165
15-19                        900   6538         7438
20-24                        384   3278         3662
Grand Total                 2378  15887        18265

In [10]:
curriculum_least.pivot_table(index='age_range', values='id_patient',columns='departement',aggfunc='count',fill_value=0, margins=True, margins_name="Total")

departement  Artibonite  Nord  Ouest  Total
age_range
10-14              3781   728   2656   7165
15-19              3367   863   3208   7438
20-24              1660   463   1539   3662
Total              8808  2054   7403  18265

# Parenting

In [11]:
parenting = base[
    (base.parenting=="yes")
]
parenting.id_patient.count()
parenting_table = parenting.pivot_table(index="age_range",columns="parenting",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_table

161

parenting    yes  Grand Total
age_range
10-14         75           75
15-19         86           86
Grand Total  161          161

# least one session parenting

In [12]:
parenting_leastone= base[
    (base.parenting_detailed!="no")
]

print('least one session parenting')
parenting_leastone.id_patient.count()

parenting_leastone_table = parenting_leastone.pivot_table(index="commune",columns="parenting_detailed",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_leastone_table


# ---------------

parenting_started = base[
    (base.parenting_detailed=='has_started')
]
print('has started strict')
parenting_started.id_patient.count()

least one session parenting

373

parenting_detailed              has_started  yes  Grand Total
commune
Cap-Haïtien                              18    0           18
Delmas                                    0    3            3
Desdunes                                 11   33           44
Dessalines                               25    2           27
Grande Saline                            14    2           16
Gressier                                 12    3           15
Kenscoff                                 13   34           47
La Chapelle                               0    2            2
Liancourt                                 9    0            9
Limonade                                  5    0            5
Milot                                     6    0            6
Montrouis                                 5    2            7
Petite Rivière de l'Artibonite            0    7            7
Plaine-du-Nord                            2    0            2
Port-au-Prince                           20    8           28
Pétionville                              38   18           56
Saint-Marc                                2    2            4
Tabarre                                  24   41           65
Verrettes                                 8    4           12
Grand Total                             212  161          373

has started strict

212

In [13]:
parenting_started.nbre_parenting_coupe_present.unique()

array([10,  1, 11,  2,  9,  8,  6,  4,  5,  3,  7], dtype=int16)

# condoms

In [14]:
condom = base[
    (base.condom=="yes")
]
condom.id_patient.count()

condom_table = condom.pivot_table(index="age_range",columns="condom",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
condom_table

18016

condom         yes  Grand Total
age_range
10-14         6991         6991
15-19         7355         7355
20-24         3670         3670
Grand Total  18016        18016

# HTS

In [15]:
hts = base[
    (base.hts=="yes")
]
hts.id_patient.count()

hts_table = hts.pivot_table(index="age_range",columns="hts",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
hts_table

1529

hts           yes  Grand Total
age_range
10-14         144          144
15-19         655          655
20-24         730          730
Grand Total  1529         1529

# post violence care

In [16]:


post_violence_care = base[
    (base.post_violence_care=="yes")
]
post_violence_care.id_patient.count()

post_violence_care_table = post_violence_care.pivot_table(index="age_range",columns="post_violence_care",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
post_violence_care_table

502

post_violence_care  yes  Grand Total
age_range
10-14                46           46
15-19               298          298
20-24               158          158
Grand Total         502          502

In [17]:


vbg = base[
    (base.vbg=="yes")
]
vbg.id_patient.count()

vbg_table = vbg.pivot_table(index="age_range",columns="vbg",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
vbg_table

#vbg.to_excel('vbg.xlsx',na_rep="",index=False)

479

vbg          yes  Grand Total
age_range
10-14         42           42
15-19        288          288
20-24        149          149
Grand Total  479          479

In [18]:


gyneco = base[
    (base.gyneco=="yes")
]
gyneco.id_patient.count()

gyneco_table = gyneco.pivot_table(index="age_range",columns="gyneco",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
gyneco_table

30

gyneco       yes  Grand Total
age_range
10-14          4            4
15-19         11           11
20-24         15           15
Grand Total   30           30

# Socio_eco_app

In [19]:

socioeco_app = base[
    (base.socioeco_app=="yes")
]
socioeco_app.id_patient.count()

socioeco_app_table = socioeco_app.pivot_table(index="age_range",columns="socioeco_app",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
socioeco_app_table

916

socioeco_app  yes  Grand Total
age_range
10-14         198          198
15-19         369          369
20-24         349          349
Grand Total   916          916

In [20]:

muso = base[
    (base.muso=="yes")
]
muso.id_patient.count()

muso_table = muso.pivot_table(index="age_range",columns="muso",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
muso_table

63

muso         yes  Grand Total
age_range
10-14          5            5
15-19          8            8
20-24         50           50
Grand Total   63           63

In [21]:

gardening = base[
    (base.gardening=="yes")
]
gardening.id_patient.count()

gardening_table = gardening.pivot_table(index="age_range",columns="gardening",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
gardening_table

866

gardening    yes  Grand Total
age_range
10-14        193          193
15-19        362          362
20-24        311          311
Grand Total  866          866

# Prep

In [22]:
prep = base[
    (base.prep=="yes")
]
prep.id_patient.count()

prep_table = prep.pivot_table(index="age_range",columns="prep",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
prep_table


#GOOD!!!!!

99

prep         yes  Grand Total
age_range
15-19         27           27
20-24         72           72
Grand Total   99           99

In [23]:
prep.columns

Index(['id_patient', 'id_parenting_group', 'departement', 'commune',
       'nbre_pres_for_inter', 'nbre_parenting_coupe_present',
       'has_comdom_topic', 'has_preventive_vbg',
       'number_of_condoms_sensibilize',
       'number_condoms_sensibilization_date_in_the_interval',
       'number_condoms_reception_in_the_interval',
       'number_hiv_test_awareness_date_in_the_interval', 'type_of_test_vih',
       'number_autotest_date_in_the_interval',
       'number_test_date_in_the_interval', 'test_results', 'autotest_result',
       'number_hiv_treatment_start_date_in_the_interval',
       'number_vbg_treatment_date_in_the_interval',
       'number_gynecological_care_date_in_the_interval',
       'number_prep_awareness_date_in_the_interval',
       'number_prep_reference_date_in_the_interval',
       'number_prep_initiation_date_in_the_interval',
       'number_contraceptive_sensibilization_date_in_the_interval',
       'number_contraceptive_reception_in_the_interval', 'age_in_year',
       'age_range', 'ovc_age', 'date_interview', 'month_in_program_range',
       'has_schooling_payment_in_the_interval', 'muso', 'gardening',
       'has_a_service_with_date_in_the_past', 'education',
       'parenting_detailed', 'parenting', 'curriculum_detailed', 'curriculum',
       'condom', 'hts_awareness', 'hts_type_test', 'hts',
       'hts_autotest_result', 'hts_test_result', 'hts_treatment_debut', 'vbg',
       'gyneco', 'post_violence_care', 'socioeco_app', 'prep_awareness',
       'prep_reference', 'prep', 'contraceptive_awareness', 'contraceptive',
       'ps_1014', 'ps_1519', 'ps_2024', 'primary_only',
       'primary_and_OneSecondary_services', 'completed_one_service',
       'has_started_one_service'],
      dtype='object')

# Contraceptive

In [24]:
contraceptive = base[
    (base.contraceptive=="yes")
]
contraceptive.id_patient.count()
if contraceptive.id_patient.count() !=0:
    contraceptive_table = contraceptive.pivot_table(index="age_range",columns="contraceptive",
                            values='id_patient',
                            aggfunc='count',
                            fill_value=0,
                            margins=True,
                            margins_name="Grand Total"                             
    )
    contraceptive_table

4

contraceptive  yes  Grand Total
age_range
15-19            1            1
20-24            3            3
Grand Total      4            4

# Primary_services

In [25]:

ps_1014 = base[
    (base.ps_1014=="primary")
]
ps_1014.id_patient.count()

ps_1014_table = ps_1014.pivot_table(index="age_range",columns="ps_1014",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1014_table

6071

ps_1014      primary  Grand Total
age_range
10-14           6071         6071
Grand Total     6071         6071

In [26]:

ps_1519 = base[
    (base.ps_1519=="primary")
]
ps_1519.id_patient.count()

ps_1519_table = ps_1519.pivot_table(index="age_range",columns="ps_1519",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1519_table

6538

ps_1519      primary  Grand Total
age_range
15-19           6538         6538
Grand Total     6538         6538

In [27]:

ps_2024 = base[
    (base.ps_2024=="primary")
]
ps_2024.id_patient.count()

ps_2024_table = ps_2024.pivot_table(index="age_range",columns="ps_2024",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_2024_table

3278

ps_2024      primary  Grand Total
age_range
20-24           3278         3278
Grand Total     3278         3278

# find scenarios

In [28]:
""" repart_parenting =DataFrame.from_dict(parenting_leastone.commune.value_counts().to_dict(),orient='index',columns=['nombre_de_beneficiaires'])
repart_parenting.to_excel('./parenting_repartition_beneficiaires/repartition_parenting_par_commune.xlsx',index=True,na_rep="")
hts.to_excel('./hivTested/hivTestedBeneficiairies.xlsx',index=False,na_rep="")
parenting.to_excel('./parenting_repartition_beneficiaires/parenting_completed.xlsx',na_rep="",index=False)
parenting_started.to_excel('./parenting_repartition_beneficiaires/parenting_has_started.xlsx',na_rep="",index=False)
 """
#repart_parenting

' repart_parenting =DataFrame.from_dict(parenting_leastone.commune.value_counts().to_dict(),orient=\'index\',columns=[\'nombre_de_beneficiaires\'])\nrepart_parenting.to_excel(\'./parenting_repartition_beneficiaires/repartition_parenting_par_commune.xlsx\',index=True,na_rep="")\nhts.to_excel(\'./hivTested/hivTestedBeneficiairies.xlsx\',index=False,na_rep="")\nparenting.to_excel(\'./parenting_repartition_beneficiaires/parenting_completed.xlsx\',na_rep="",index=False)\nparenting_started.to_excel(\'./parenting_repartition_beneficiaires/parenting_has_started.xlsx\',na_rep="",index=False)\n '