In [1]:
%%capture
from IPython.core.interactiveshell import InteractiveShell
from datetime import datetime

from hts import (
    screening_vih,
    sdata, 
    base,
    hts,
    fy22
)


InteractiveShell.ast_node_interactivity = "all"
date_du_jour = datetime.today().strftime("%d_%m_%Y")

In [2]:
screening_vih.case_id.count()
sdata.case_id.count()
base.id_patient.count()
fy22.case_id.count()
hts.id_patient.count()

66932

66932

12878

9922

1379

In [3]:
base.pivot_table(
    values='id_patient',
    index = 'ovc_age',
    columns = 'hts',
    aggfunc='count',
    fill_value=0,
    margins=True,
    margins_name='Total'
)

hts.id_patient.count()

hts         no   yes  Total
ovc_age
10-14     4917   154   5071
15-17     3113   323   3436
18-24     3469   902   4371
Total    11499  1379  12878

1379

In [4]:
HTS = hts[['id_patient','departement','commune','age_in_year','ovc_age','hts']]

In [20]:
sc_vih = screening_vih[['case_id','ovc_age','total_score']]
sc_vih.rename(
    columns={
        'ovc_age': 'age_int'
    },
    inplace=True
)

sc_vih_id = screening_vih[['case_id','id_patient','ovc_age','total_score']]
sc_vih_id.rename(
    columns={
        'ovc_age': 'age_int'
    },
    inplace=True
)

/var/folders/7v/rs0k237d6nj3vdxfc1h7xtcw0000gn/T/ipykernel_2348/2321592977.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sc_vih.rename(
/var/folders/7v/rs0k237d6nj3vdxfc1h7xtcw0000gn/T/ipykernel_2348/2321592977.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sc_vih_id.rename(

In [21]:
screens_score20 = fy22[fy22.total_score>=20]
screens = screens_score20[['case_id','ovc_age','total_score']]
screens.rename(
    columns={
        'ovc_age': 'age_int'
    },
    inplace=True
)

screens_id = screens_score20[['case_id','id_patient','ovc_age','total_score']]
screens_id.rename(
    columns={
        'ovc_age': 'age_int'
    },
    inplace=True
)

/var/folders/7v/rs0k237d6nj3vdxfc1h7xtcw0000gn/T/ipykernel_2348/3878049164.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  screens.rename(
/var/folders/7v/rs0k237d6nj3vdxfc1h7xtcw0000gn/T/ipykernel_2348/3878049164.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  screens_id.rename(

In [22]:
screens.case_id.count()
screens.total_score.value_counts()

3764

26    856
24    830
32    668
34    368
22    303
28    301
30    281
20     85
36     38
40     21
38     13
Name: total_score, dtype: int64

In [42]:
ELIGIBLE = screens.merge(sdata,how='left',on='case_id')
ELIGIBLE.case_id.count()

3764

In [47]:
ELIGIBLE.sort_values(by=['total_score'],ascending=False,inplace=True)
ELIGIBLE.to_excel('./results/eligibles_vih.xlsx',na_rep="",index=False)

# Found

In [56]:
HTS.id_patient.count()

1379

In [60]:
screens_id[screens_id.id_patient.isin(HTS.id_patient)]

                                    case_id  id_patient age_int  total_score
75     004997ef-357b-495a-ab49-f042d9583b64      129775   18-24           24
973    03ae16f8-a58c-4a19-bb50-d7f567f13587      155008   15-17           32
1333   0518a3ab-753c-4df9-a162-f09b47b5e154      129776   18-24           34
1999   07aecd46-7c9e-436e-9815-0705f3146b9a      129077   18-24           24
2365   091b6cf7-d694-4be4-af13-3f33cd47c42a      131202   15-17           26
...                                     ...         ...     ...          ...
64092  f56bc5b4-dc98-418e-b993-eb5d43e8a04a      131199   15-17           32
64331  f65971fc-55a1-48d5-b524-eefa43563f15      131302   18-24           32
64629  f7655f41-17b6-45d9-b7d6-f3686bb69a53      154151   15-17           22
65123  f93d5c11-50cb-4bf1-8d0d-67d801e936a9      129107   18-24           24
66644  fef9eac7-7587-489c-b026-30dfb4c77b9b      135056   15-17           32

[198 rows x 4 columns]

In [63]:
sc_vih_id[sc_vih_id.id_patient.isin(HTS.id_patient)]

                                    case_id  id_patient age_int  total_score
66     003f6422-8e9b-4a49-ab2f-b4e8bc9d01c4       96862   10-14           32
75     004997ef-357b-495a-ab49-f042d9583b64      129775   18-24           24
97     0064b6e7-c478-494d-9ea0-695d45f687f1      124125   15-17           34
110    00738651-aab7-4fd0-a237-faaf6f6f305a       79404   18-24           16
122    007b9fe9-d032-41eb-b362-6a09352c1502       83412   18-24           24
...                                     ...         ...     ...          ...
66644  fef9eac7-7587-489c-b026-30dfb4c77b9b      135056   15-17           32
66761  ff613f31-2e06-49ed-88e8-304dec19678e       94150   18-24            0
66793  ff7b960b-48ce-4100-99f0-c42f517377ce       79861   10-14           26
66821  ff99b278-5cae-4d6a-b4b4-6e1dd8208a8a       88161   15-17            4
66855  ffb880f1-a804-438c-ac7a-2642e1e6aa97      123855   18-24           24

[1379 rows x 4 columns]

# Score dreams des zero

In [55]:
zero = fy22[fy22.total_score==0][['case_id']]

zero.merge(sdata,how='left',on='case_id')['total'].unique()

array([25., 18., 17., 19., 26., 22., 20., 14., 33., 15., 29., 16., 24.,
       23., 21., 30., 34.])