In [1]:
%%capture
from sys import path
path.insert(0, '../../static')
from agyw import AgywPrev
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from pandas import (
    DataFrame,
    ExcelWriter
)
import openpyxl

# Parentalite
---

1. pilotage de lotin/kenskoff

In [2]:
%%capture
datim = AgywPrev()
base = datim.data_dreams_valid

In [3]:
base.id_patient.count()

9827

In [4]:
base.pivot_table(index='age_range', values='id_patient',columns='departement',aggfunc='count',fill_value=0, margins=True)

departement  Artibonite  Nord  Ouest   All
age_range
10-14              1650   414   1756  3820
15-19              1614   569   1862  4045
20-24               790   301    871  1962
All                4054  1284   4489  9827

In [11]:
actif_parenting = base[
    (base.parenting_detailed!="no")
]

actif_parenting.pivot_table(
    index="commune",
    columns="parenting_detailed",
    values='id_patient',
    aggfunc='count',
    fill_value=0,
    margins=True,
    margins_name="Grand Total"                             
)


all_kenscoff = actif_parenting[
    (actif_parenting.commune == "Kenscoff")
]

kenscoff_completed = actif_parenting[
    (actif_parenting.commune == "Kenscoff")&
    (actif_parenting.parenting_detailed == "yes")
]

kenscoff_incompleted = actif_parenting[
    (actif_parenting.commune == "Kenscoff")&
    (actif_parenting.parenting_detailed == "has_started")
]

all_kenscoff.id_patient.count()
kenscoff_completed.id_patient.count()
kenscoff_incompleted.id_patient.count()

parenting_detailed              has_started  yes  Grand Total
commune
Cap-Haïtien                              18    0           18
Delmas                                    0    1            1
Desdunes                                  1   30           31
Dessalines                               25    2           27
Grande Saline                             4    2            6
Gressier                                  8    3           11
Kenscoff                                 24   15           39
La Chapelle                               0    1            1
Liancourt                                 9    0            9
Limonade                                  5    0            5
Milot                                     6    0            6
Montrouis                                 4    1            5
Petite Rivière de l'Artibonite            0    6            6
Plaine-du-Nord                            2    0            2
Pétionville                               2    9           11
Tabarre                                  14    5           19
Verrettes                                 2    4            6
Grand Total                             124   79          203

39

15

24

In [13]:
all_kenscoff.to_excel('all_kenscoff.xlsx',index=False,na_rep="")
kenscoff_completed.to_excel('kenscoff_completed.xlsx',index=False,na_rep="")
kenscoff_incompleted.to_excel('kenscoff_incompleted.xlsx',index=False,na_rep="")