In [1]:
%%capture
from sys import path
path.insert(0, '../static')
from agyw import AgywPrev
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from pandas import DataFrame

In [2]:
%%capture
datim = AgywPrev()

# base active

In [3]:
base = datim.data_dreams_valid
base.id_patient.count()

6309

# Curriculum

In [4]:
curriculum_complet = base[
    (base.curriculum=="yes")
]
curriculum_complet.id_patient.count()

curriculum_table = curriculum_complet.pivot_table(index="age_range",columns="curriculum",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

4958

curriculum    yes  Grand Total
age_range
10-14        1052         1052
15-19        2212         2212
20-24        1694         1694
Grand Total  4958         4958

# least one curriculum

In [5]:
curriculum_least = base[
    (base.curriculum_detailed!="no")
]
curriculum_least.id_patient.count()

curriculum_table = curriculum_least.pivot_table(index="age_range",columns="curriculum_detailed",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

6120

curriculum_detailed  has_started   yes  Grand Total
age_range
10-14                        267  1052         1319
15-19                        561  2212         2773
20-24                        334  1694         2028
Grand Total                 1162  4958         6120

# Parenting

In [6]:
parenting = base[
    (base.parenting=="yes")
]
parenting.id_patient.count()
parenting_table = parenting.pivot_table(index="age_range",columns="parenting",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_table

67

parenting    yes  Grand Total
age_range
10-14         17           17
15-19         50           50
Grand Total   67           67

# least one session parenting

In [7]:
parenting_leastone= base[
    (base.parenting_detailed!="no")
]

parenting_leastone.id_patient.count()
parenting_table = parenting_leastone.pivot_table(index="age_range",columns="parenting_detailed",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_table


# ---------------

parenting_started = base[
    (base.parenting_detailed=='has_started')
]
parenting_started.id_patient.count()

122

parenting_detailed  has_started  yes  Grand Total
age_range
10-14                        26   17           43
15-19                        29   50           79
Grand Total                  55   67          122

55

# condoms

In [8]:
condom = base[
    (base.condom=="yes")
]
condom.id_patient.count()

condom_table = condom.pivot_table(index="age_range",columns="condom",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
condom_table

6288

condom        yes  Grand Total
age_range
10-14        1335         1335
15-19        2853         2853
20-24        2100         2100
Grand Total  6288         6288

# HTS

In [9]:
hts = base[
    (base.hts=="yes")
]
hts.id_patient.count()

hts_table = hts.pivot_table(index="age_range",columns="hts",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
hts_table

2422

hts           yes  Grand Total
age_range
10-14         281          281
15-19         992          992
20-24        1149         1149
Grand Total  2422         2422

# post violence care

In [10]:


post_violence_care = base[
    (base.post_violence_care=="yes")
]
post_violence_care.id_patient.count()

post_violence_care_table = post_violence_care.pivot_table(index="age_range",columns="post_violence_care",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
post_violence_care_table

163

post_violence_care  yes  Grand Total
age_range
10-14                 6            6
15-19                69           69
20-24                88           88
Grand Total         163          163

In [11]:


vbg = base[
    (base.vbg=="yes")
]
vbg.id_patient.count()

vbg_table = vbg.pivot_table(index="age_range",columns="vbg",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
vbg_table

57

vbg          yes  Grand Total
age_range
10-14          1            1
15-19         20           20
20-24         36           36
Grand Total   57           57

In [12]:


gyneco = base[
    (base.gyneco=="yes")
]
gyneco.id_patient.count()

gyneco_table = gyneco.pivot_table(index="age_range",columns="gyneco",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
gyneco_table

131

gyneco       yes  Grand Total
age_range
10-14          5            5
15-19         57           57
20-24         69           69
Grand Total  131          131

# Socio_eco_app

In [13]:

socioeco_app = base[
    (base.socioeco_app=="yes")
]
socioeco_app.id_patient.count()

socioeco_app_table = socioeco_app.pivot_table(index="age_range",columns="socioeco_app",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
socioeco_app_table

645

socioeco_app  yes  Grand Total
age_range
10-14         180          180
15-19         228          228
20-24         237          237
Grand Total   645          645

# Prep

In [14]:
prep = base[
    (base.prep=="yes")
]
prep.id_patient.count()

prep_table = prep.pivot_table(index="age_range",columns="prep",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
prep_table


#GOOD!!!!!

184

prep         yes  Grand Total
age_range
15-19         80           80
20-24        104          104
Grand Total  184          184

# Contraceptive

In [15]:
contraceptive = base[
    (base.contraceptive=="yes")
]
contraceptive.id_patient.count()
if contraceptive.id_patient.count() !=0:
    contraceptive_table = contraceptive.pivot_table(index="age_range",columns="contraceptive",
                            values='id_patient',
                            aggfunc='count',
                            fill_value=0,
                            margins=True,
                            margins_name="Grand Total"                             
    )
    contraceptive_table

15

contraceptive  yes  Grand Total
age_range
15-19            3            3
20-24           12           12
Grand Total     15           15

# Primary_services

In [16]:

ps_1014 = base[
    (base.ps_1014=="primary")
]
ps_1014.id_patient.count()

ps_1014_table = ps_1014.pivot_table(index="age_range",columns="ps_1014",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1014_table

1052

ps_1014      primary  Grand Total
age_range
10-14           1052         1052
Grand Total     1052         1052

In [17]:

ps_1519 = base[
    (base.ps_1519=="primary")
]
ps_1519.id_patient.count()

ps_1519_table = ps_1519.pivot_table(index="age_range",columns="ps_1519",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1519_table

2212

ps_1519      primary  Grand Total
age_range
15-19           2212         2212
Grand Total     2212         2212

In [18]:

ps_2024 = base[
    (base.ps_2024=="primary")
]
ps_2024.id_patient.count()

ps_2024_table = ps_2024.pivot_table(index="age_range",columns="ps_2024",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_2024_table

1694

ps_2024      primary  Grand Total
age_range
20-24           1694         1694
Grand Total     1694         1694

# find scenarios

In [19]:
resum_parenting =DataFrame.from_dict(parenting_leastone.commune.value_counts().to_dict(),orient='index',columns=['nombre_de_beneficiaires'])
resum_parenting.to_excel('./parenting_repartition_beneficiaires/repartition_parenting_par_commune.xlsx',index=True,na_rep="")
hts.to_excel('./hivTested/hivTestedBeneficiairies.xlsx',index=False,na_rep="")
parenting.to_excel('./parenting_repartition_beneficiaires/parenting_completed.xlsx',na_rep="",index=False)
parenting_started.to_excel('./parenting_repartition_beneficiaires/parenting_has_started.xlsx',na_rep="",index=False)