In [1]:
%%capture
from sys import path
path.insert(0, '../static')
from agyw import AgywPrev
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
%%capture
datim = AgywPrev()

# base active

In [3]:
base = datim.data_dreams_valid
base.id_patient.count()

16847

# Curriculum

In [4]:
curriculum_complet = base[
    (base.curriculum=="yes")
]
curriculum_complet.id_patient.count()

curriculum_table = curriculum_complet.pivot_table(index="age_range",columns="curriculum",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

14312

curriculum     yes  Grand Total
age_range
10-14         5095         5095
15-19         5852         5852
20-24         3365         3365
Grand Total  14312        14312

# Parenting

In [5]:
parenting = base[
    (base.parenting=="yes")
]
parenting.id_patient.count()
parenting_table = parenting.pivot_table(index="age_range",columns="parenting",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_table

196

parenting    yes  Grand Total
age_range
10-14         99           99
15-19         97           97
Grand Total  196          196

In [6]:
base[
    (base.parenting_detailed!="no")
].id_patient.count()

224

# condoms

In [7]:
condom = base[
    (base.condom=="yes")
]
condom.id_patient.count()

condom_table = condom.pivot_table(index="age_range",columns="condom",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
condom_table

16414

condom         yes  Grand Total
age_range
10-14         5907         5907
15-19         6719         6719
20-24         3788         3788
Grand Total  16414        16414

# HTS

In [8]:
hts = base[
    (base.hts=="yes")
]
hts.id_patient.count()

hts_table = hts.pivot_table(index="age_range",columns="hts",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
hts_table

2545

hts           yes  Grand Total
age_range
10-14         408          408
15-19        1035         1035
20-24        1102         1102
Grand Total  2545         2545

# post violence care

In [9]:


post_violence_care = base[
    (base.post_violence_care=="yes")
]
post_violence_care.id_patient.count()

post_violence_care_table = post_violence_care.pivot_table(index="age_range",columns="post_violence_care",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
post_violence_care_table

191

post_violence_care  yes  Grand Total
age_range
10-14                18           18
15-19                77           77
20-24                96           96
Grand Total         191          191

In [10]:


vbg = base[
    (base.vbg=="yes")
]
vbg.id_patient.count()

vbg_table = vbg.pivot_table(index="age_range",columns="vbg",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
vbg_table

66

vbg          yes  Grand Total
age_range
10-14          2            2
15-19         25           25
20-24         39           39
Grand Total   66           66

In [11]:


gyneco = base[
    (base.gyneco=="yes")
]
gyneco.id_patient.count()

gyneco_table = gyneco.pivot_table(index="age_range",columns="gyneco",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
gyneco_table

150

gyneco       yes  Grand Total
age_range
10-14         16           16
15-19         60           60
20-24         74           74
Grand Total  150          150

# Socio_eco_app

In [12]:

socioeco_app = base[
    (base.socioeco_app=="yes")
]
socioeco_app.id_patient.count()

socioeco_app_table = socioeco_app.pivot_table(index="age_range",columns="socioeco_app",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
socioeco_app_table

573

socioeco_app  yes  Grand Total
age_range
10-14         163          163
15-19         203          203
20-24         207          207
Grand Total   573          573

# Prep

In [13]:
prep = base[
    (base.prep=="yes")
]
prep.id_patient.count()

prep_table = prep.pivot_table(index="age_range",columns="prep",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
prep_table

237

prep         yes  Grand Total
age_range
10-14          8            8
15-19        107          107
20-24        122          122
Grand Total  237          237

# Primary_services

In [14]:

ps_1014 = base[
    (base.ps_1014=="primary")
]
ps_1014.id_patient.count()

ps_1014_table = ps_1014.pivot_table(index="age_range",columns="ps_1014",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1014_table

5095

ps_1014      primary  Grand Total
age_range
10-14           5095         5095
Grand Total     5095         5095

In [15]:

ps_1519 = base[
    (base.ps_1519=="primary")
]
ps_1519.id_patient.count()

ps_1519_table = ps_1519.pivot_table(index="age_range",columns="ps_1519",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1519_table

5852

ps_1519      primary  Grand Total
age_range
15-19           5852         5852
Grand Total     5852         5852

In [16]:

ps_2024 = base[
    (base.ps_2024=="primary")
]
ps_2024.id_patient.count()

ps_2024_table = ps_2024.pivot_table(index="age_range",columns="ps_2024",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_2024_table

3365

ps_2024      primary  Grand Total
age_range
20-24           3365         3365
Grand Total     3365         3365

# find scenarios

In [17]:
badprep = base[
    (base.prep=="yes")&
    (base.age_range=="10-14")
]
badprep.id_patient.count()
badprep.to_excel('./badprepdata/badprep.xlsx',index=False,na_rep="")

8