In [22]:
%%capture
from sys import path
path.insert(0, '../static')
from agyw import AgywPrev
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [23]:
%%capture
datim = AgywPrev()

# base active

In [24]:
base = datim.data_dreams_valid
base.id_patient.count()

15506

# Curriculum

In [25]:
curriculum_complet = base[
    (base.curriculum=="yes")
]
curriculum_complet.id_patient.count()

curriculum_table = curriculum_complet.pivot_table(index="age_range",columns="curriculum",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

13105

curriculum     yes  Grand Total
age_range
10-14         4656         4656
15-19         5368         5368
20-24         3081         3081
Grand Total  13105        13105

# Parenting

In [26]:
parenting = base[
    (base.parenting=="yes")
]
parenting.id_patient.count()
parenting_table = parenting.pivot_table(index="age_range",columns="parenting",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_table

172

parenting    yes  Grand Total
age_range
10-14         87           87
15-19         85           85
Grand Total  172          172

# condoms

In [27]:
condom = base[
    (base.condom=="yes")
]
condom.id_patient.count()

condom_table = condom.pivot_table(index="age_range",columns="condom",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
condom_table

15036

condom         yes  Grand Total
age_range
10-14         5434         5434
15-19         6142         6142
20-24         3460         3460
Grand Total  15036        15036

# HTS

In [28]:
hts = base[
    (base.hts=="yes")
]
hts.id_patient.count()

hts_table = hts.pivot_table(index="age_range",columns="hts",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
hts_table

2300

hts           yes  Grand Total
age_range
10-14         368          368
15-19         937          937
20-24         995          995
Grand Total  2300         2300

# post violence care

In [29]:


post_violence_care = base[
    (base.post_violence_care=="yes")
]
post_violence_care.id_patient.count()

post_violence_care_table = post_violence_care.pivot_table(index="age_range",columns="post_violence_care",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
post_violence_care_table

168

post_violence_care  yes  Grand Total
age_range
10-14                13           13
15-19                67           67
20-24                88           88
Grand Total         168          168

In [30]:


vbg = base[
    (base.vbg=="yes")
]
vbg.id_patient.count()

vbg_table = vbg.pivot_table(index="age_range",columns="vbg",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
vbg_table

66

vbg          yes  Grand Total
age_range
10-14          2            2
15-19         27           27
20-24         37           37
Grand Total   66           66

In [31]:


gyneco = base[
    (base.gyneco=="yes")
]
gyneco.id_patient.count()

gyneco_table = gyneco.pivot_table(index="age_range",columns="gyneco",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
gyneco_table

126

gyneco       yes  Grand Total
age_range
10-14         11           11
15-19         48           48
20-24         67           67
Grand Total  126          126

# Socio_eco_app

In [32]:

socioeco_app = base[
    (base.socioeco_app=="yes")
]
socioeco_app.id_patient.count()

socioeco_app_table = socioeco_app.pivot_table(index="age_range",columns="socioeco_app",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
socioeco_app_table

574

socioeco_app  yes  Grand Total
age_range
10-14         163          163
15-19         203          203
20-24         208          208
Grand Total   574          574

# Prep

In [33]:
prep = base[
    (base.prep=="yes")
]
prep.id_patient.count()

prep_table = prep.pivot_table(index="age_range",columns="prep",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
prep_table

231

prep         yes  Grand Total
age_range
10-14          9            9
15-19        105          105
20-24        117          117
Grand Total  231          231

# Primary_services

In [34]:

ps_1014 = base[
    (base.ps_1014=="primary")
]
ps_1014.id_patient.count()

ps_1014_table = ps_1014.pivot_table(index="age_range",columns="ps_1014",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1014_table

4656

ps_1014      primary  Grand Total
age_range
10-14           4656         4656
Grand Total     4656         4656

In [35]:

ps_1519 = base[
    (base.ps_1519=="primary")
]
ps_1519.id_patient.count()

ps_1519_table = ps_1519.pivot_table(index="age_range",columns="ps_1519",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1519_table

5368

ps_1519      primary  Grand Total
age_range
15-19           5368         5368
Grand Total     5368         5368

In [36]:

ps_2024 = base[
    (base.ps_2024=="primary")
]
ps_2024.id_patient.count()

ps_2024_table = ps_2024.pivot_table(index="age_range",columns="ps_2024",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_2024_table

3081

ps_2024      primary  Grand Total
age_range
20-24           3081         3081
Grand Total     3081         3081