In [1]:
%%capture
from sys import path
path.insert(0, '../static')
from agyw import AgywPrev
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
%%capture
datim = AgywPrev()

# base active

In [3]:
base = datim.data_dreams_valid
base.id_patient.count()

17605

# Curriculum

In [4]:
curriculum_complet = base[
    (base.curriculum=="yes")
]
curriculum_complet.id_patient.count()

curriculum_table = curriculum_complet.pivot_table(index="age_range",columns="curriculum",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

15072

curriculum     yes  Grand Total
age_range
10-14         5332         5332
15-19         6223         6223
20-24         3517         3517
Grand Total  15072        15072

# Parenting

In [5]:
parenting = base[
    (base.parenting=="yes")
]
parenting.id_patient.count()
parenting_table = parenting.pivot_table(index="age_range",columns="parenting",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_table

233

parenting    yes  Grand Total
age_range
10-14        120          120
15-19        113          113
Grand Total  233          233

# least one session parenting

In [6]:
base[
    (base.parenting_detailed!="no")
].id_patient.count()

260

# condoms

In [7]:
condom = base[
    (base.condom=="yes")
]
condom.id_patient.count()

condom_table = condom.pivot_table(index="age_range",columns="condom",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
condom_table

17173

condom         yes  Grand Total
age_range
10-14         6133         6133
15-19         7095         7095
20-24         3945         3945
Grand Total  17173        17173

# HTS

In [8]:
hts = base[
    (base.hts=="yes")
]
hts.id_patient.count()

hts_table = hts.pivot_table(index="age_range",columns="hts",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
hts_table

2698

hts           yes  Grand Total
age_range
10-14         425          425
15-19        1102         1102
20-24        1171         1171
Grand Total  2698         2698

# post violence care

In [9]:


post_violence_care = base[
    (base.post_violence_care=="yes")
]
post_violence_care.id_patient.count()

post_violence_care_table = post_violence_care.pivot_table(index="age_range",columns="post_violence_care",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
post_violence_care_table

197

post_violence_care  yes  Grand Total
age_range
10-14                18           18
15-19                83           83
20-24                96           96
Grand Total         197          197

In [10]:


vbg = base[
    (base.vbg=="yes")
]
vbg.id_patient.count()

vbg_table = vbg.pivot_table(index="age_range",columns="vbg",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
vbg_table

68

vbg          yes  Grand Total
age_range
10-14          2            2
15-19         27           27
20-24         39           39
Grand Total   68           68

In [11]:


gyneco = base[
    (base.gyneco=="yes")
]
gyneco.id_patient.count()

gyneco_table = gyneco.pivot_table(index="age_range",columns="gyneco",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
gyneco_table

154

gyneco       yes  Grand Total
age_range
10-14         16           16
15-19         64           64
20-24         74           74
Grand Total  154          154

# Socio_eco_app

In [12]:

socioeco_app = base[
    (base.socioeco_app=="yes")
]
socioeco_app.id_patient.count()

socioeco_app_table = socioeco_app.pivot_table(index="age_range",columns="socioeco_app",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
socioeco_app_table

572

socioeco_app  yes  Grand Total
age_range
10-14         163          163
15-19         203          203
20-24         206          206
Grand Total   572          572

# Prep

In [13]:
prep = base[
    (base.prep=="yes")
]
prep.id_patient.count()

prep_table = prep.pivot_table(index="age_range",columns="prep",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
prep_table

237

prep         yes  Grand Total
age_range
10-14          9            9
15-19        106          106
20-24        122          122
Grand Total  237          237

# Contraceptive

In [14]:
contraceptive = base[
    (base.contraceptive=="yes")
]
contraceptive.id_patient.count()
if contraceptive.id_patient.count() !=0:
    contraceptive_table = contraceptive.pivot_table(index="age_range",columns="contraceptive",
                            values='id_patient',
                            aggfunc='count',
                            fill_value=0,
                            margins=True,
                            margins_name="Grand Total"                             
    )
    contraceptive_table

0

# Primary_services

In [15]:

ps_1014 = base[
    (base.ps_1014=="primary")
]
ps_1014.id_patient.count()

ps_1014_table = ps_1014.pivot_table(index="age_range",columns="ps_1014",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1014_table

5332

ps_1014      primary  Grand Total
age_range
10-14           5332         5332
Grand Total     5332         5332

In [16]:

ps_1519 = base[
    (base.ps_1519=="primary")
]
ps_1519.id_patient.count()

ps_1519_table = ps_1519.pivot_table(index="age_range",columns="ps_1519",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1519_table

6223

ps_1519      primary  Grand Total
age_range
15-19           6223         6223
Grand Total     6223         6223

In [17]:

ps_2024 = base[
    (base.ps_2024=="primary")
]
ps_2024.id_patient.count()

ps_2024_table = ps_2024.pivot_table(index="age_range",columns="ps_2024",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_2024_table

3517

ps_2024      primary  Grand Total
age_range
20-24           3517         3517
Grand Total     3517         3517

# find scenarios

In [18]:
badprep = base[
    (base.prep=="yes")&
    (base.age_range=="10-14")
]
badprep.id_patient.count()
badprep.to_excel('./badprepdata/badprep.xlsx',index=False,na_rep="")

9