In [1]:
%%capture
from sys import path
path.insert(0, '../static')
from agyw import AgywPrev
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
%%capture
datim = AgywPrev()

# base active

In [3]:
base = datim.data_dreams_valid
base.id_patient.count()

16437

# Curriculum

In [4]:
curriculum_complet = base[
    (base.curriculum=="yes")
]
curriculum_complet.id_patient.count()

curriculum_table = curriculum_complet.pivot_table(index="age_range",columns="curriculum",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
curriculum_table

13995

curriculum     yes  Grand Total
age_range
10-14         5011         5011
15-19         5705         5705
20-24         3279         3279
Grand Total  13995        13995

# Parenting

In [5]:
parenting = base[
    (base.parenting=="yes")
]
parenting.id_patient.count()
parenting_table = parenting.pivot_table(index="age_range",columns="parenting",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
parenting_table

196

parenting    yes  Grand Total
age_range
10-14        100          100
15-19         96           96
Grand Total  196          196

# condoms

In [6]:
condom = base[
    (base.condom=="yes")
]
condom.id_patient.count()

condom_table = condom.pivot_table(index="age_range",columns="condom",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
condom_table

16005

condom         yes  Grand Total
age_range
10-14         5801         5801
15-19         6532         6532
20-24         3672         3672
Grand Total  16005        16005

# HTS

In [7]:
hts = base[
    (base.hts=="yes")
]
hts.id_patient.count()

hts_table = hts.pivot_table(index="age_range",columns="hts",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
hts_table

2473

hts           yes  Grand Total
age_range
10-14         395          395
15-19        1014         1014
20-24        1064         1064
Grand Total  2473         2473

# post violence care

In [8]:


post_violence_care = base[
    (base.post_violence_care=="yes")
]
post_violence_care.id_patient.count()

post_violence_care_table = post_violence_care.pivot_table(index="age_range",columns="post_violence_care",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
post_violence_care_table

189

post_violence_care  yes  Grand Total
age_range
10-14                18           18
15-19                76           76
20-24                95           95
Grand Total         189          189

In [9]:


vbg = base[
    (base.vbg=="yes")
]
vbg.id_patient.count()

vbg_table = vbg.pivot_table(index="age_range",columns="vbg",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
vbg_table

66

vbg          yes  Grand Total
age_range
10-14          2            2
15-19         25           25
20-24         39           39
Grand Total   66           66

In [10]:


gyneco = base[
    (base.gyneco=="yes")
]
gyneco.id_patient.count()

gyneco_table = gyneco.pivot_table(index="age_range",columns="gyneco",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
gyneco_table

148

gyneco       yes  Grand Total
age_range
10-14         16           16
15-19         59           59
20-24         73           73
Grand Total  148          148

# Socio_eco_app

In [11]:

socioeco_app = base[
    (base.socioeco_app=="yes")
]
socioeco_app.id_patient.count()

socioeco_app_table = socioeco_app.pivot_table(index="age_range",columns="socioeco_app",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
socioeco_app_table

573

socioeco_app  yes  Grand Total
age_range
10-14         163          163
15-19         203          203
20-24         207          207
Grand Total   573          573

# Prep

In [12]:
prep = base[
    (base.prep=="yes")
]
prep.id_patient.count()

prep_table = prep.pivot_table(index="age_range",columns="prep",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
prep_table

235

prep         yes  Grand Total
age_range
10-14          8            8
15-19        107          107
20-24        120          120
Grand Total  235          235

# Primary_services

In [13]:

ps_1014 = base[
    (base.ps_1014=="primary")
]
ps_1014.id_patient.count()

ps_1014_table = ps_1014.pivot_table(index="age_range",columns="ps_1014",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1014_table

5011

ps_1014      primary  Grand Total
age_range
10-14           5011         5011
Grand Total     5011         5011

In [14]:

ps_1519 = base[
    (base.ps_1519=="primary")
]
ps_1519.id_patient.count()

ps_1519_table = ps_1519.pivot_table(index="age_range",columns="ps_1519",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_1519_table

5705

ps_1519      primary  Grand Total
age_range
15-19           5705         5705
Grand Total     5705         5705

In [15]:

ps_2024 = base[
    (base.ps_2024=="primary")
]
ps_2024.id_patient.count()

ps_2024_table = ps_2024.pivot_table(index="age_range",columns="ps_2024",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
ps_2024_table

3279

ps_2024      primary  Grand Total
age_range
20-24           3279         3279
Grand Total     3279         3279

# find scenarios

In [16]:
badprep = base[
    (base.prep=="yes")&
    (base.age_range=="10-14")
]
badprep.id_patient.count()
badprep.to_excel('./badprepdata/badprep.xlsx',index=False,na_rep="")

8