In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from pandas import DataFrame, ExcelWriter
import openpyxl
from datetime import datetime
date_du_jour = datetime.today().strftime("%d_%m_%Y")

In [2]:
from core import AgywPrev

In [3]:
%%capture
datim = AgywPrev()
base = datim.data_dreams_valid

In [4]:
def get_served(base:DataFrame,col:str,ind:str="age_range",):
    #departement or commune
    data = base.pivot_table(index=f"{ind}", values='id_patient',columns=f"{col}",aggfunc='count',fill_value=0, margins=True,
        margins_name = "Total"
    )[:-1]
    data = data.reset_index().rename_axis(None, axis=1)
    data = DataFrame(data.to_records(index=False))
    return data

def report(base,datetime, **kwargs):
    report_Monitoring = ExcelWriter(f"report_monitoring_{kwargs['time']}_{datetime}.xlsx",engine="openpyxl")
    DataFrame([{"time": f"{kwargs['time']}","Total": base.shape[0]}]).to_excel(report_Monitoring,sheet_name=f"resultat_{kwargs['time']}",index=False,na_rep="")
    get_served(base,col=f"{kwargs['departement']}").to_excel(report_Monitoring,sheet_name=f"Tableau_{kwargs['departement']}",index=False,na_rep="")
    get_served(base,ind=f"{kwargs['commune']}",col="age_range").to_excel(report_Monitoring,sheet_name=f"Tableau_{kwargs['commune']}",index=False,na_rep="")
    report_Monitoring.save()
    return {
        "build": f"{kwargs['time']} monitoring report build successfully",
        "path": f"report_monitoring_{kwargs['time']}_{datetime}.xlsx",
        "object": Report_Monitoring
    }

In [5]:

report(
    base=base,
    datetime=date_du_jour,
    time="mars_2023",
    commune="commune",
    departement="departement"
)

/var/folders/7v/rs0k237d6nj3vdxfc1h7xtcw0000gn/T/ipykernel_36075/2027048212.py:6: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  report_Monitoring.save()

In [6]:
DataFrame([{"Period": f"","Total": base.shape[0]}])
get_served(base,col='departement')
get_served(base,col='age_range',ind="commune")

  Period  Total
0          1744

  age_range  Artibonite  Nord  Ouest  Total
0     10-14         319    36    151    506
1     15-19         474    56    206    736
2     20-24         374    53     75    502

                           commune  10-14  15-19  20-24  Total
0                      Cap-Ha√Øtien     20     24     23     67
1                        Carrefour     74     85     43    202
2                           Delmas      0      4      8     12
3                         Desdunes     32     46     46    124
4                       Dessalines     27     30      8     65
5                    Grande Saline     17     56     96    169
6                         Gressier      7      6      3     16
7                         Kenscoff     62    103     17    182
8                      La Chapelle      0      2      8     10
9                        Liancourt     11     47     14     72
10                        Limonade      1      0      0      1
11                           Milot      9     19      3     31
12                       Montrouis     36     62     28    126
13  Petite Rivi√®re de l'Artibonite      8     20     22     50
14                  Plaine-du-Nord      5     12     17     34
15                  Port-au-Prince      1      1      2      4
16                     P√©tionville      0      1      0      1
17                  Quartier-Morin      1      1     10     12
18                      Saint-Marc     12     24     33     69
19                         Tabarre      7      6      2     15
20                       Verrettes    176    187    119    482

## served !

In [7]:
base.curriculum_detailed.value_counts()

no             1181
yes             539
has_started      24
Name: curriculum_detailed, dtype: int64

In [8]:
base.condom.value_counts()

no     911
yes    833
Name: condom, dtype: int64

In [9]:
base.education.value_counts()

no     1606
yes     138
Name: education, dtype: int64

In [10]:
base.parenting_detailed.value_counts()

no             1656
yes              72
has_started      16
Name: parenting_detailed, dtype: int64

In [11]:
base.hts.value_counts()

no    1744
Name: hts, dtype: int64

In [12]:
base.post_violence_care.value_counts()

no    1744
Name: post_violence_care, dtype: int64

In [13]:
base.vbg.value_counts()

no    1744
Name: vbg, dtype: int64

In [14]:
base.gyneco.value_counts()

no    1744
Name: gyneco, dtype: int64

In [15]:
base.contraceptive.value_counts()

no    1744
Name: contraceptive, dtype: int64

In [16]:
base.prep.value_counts()

no    1744
Name: prep, dtype: int64

# not bound to the time

In [17]:
base.socioeco_app.value_counts()

yes    968
no     776
Name: socioeco_app, dtype: int64