In [19]:
from pandas import read_excel
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from datetime import datetime
date_du_jour = datetime.today().strftime("%d_%m_%Y")

In [2]:
data_parent_found = read_excel('datim_parenting.xlsx')

In [13]:
data_parent_found.age_paran.unique()
data_parent_found.commune.unique()
data_parent_found.Gender.unique()

array([39, 43, 62, 35, 48, 50, 42, 49, 52, 57, 59, 64, 55, 32, 47, 53, 61,
       25, 28, 51, 22, 36, 38, 40, 41, 31, 27, 60, 54, 44, 29, 34, 58, 19,
       21, 30, 46, 24, 56, 45, 37, 33])

array(['tabarre', 'kenscoff', 'grande-saline', 'desdunes', 'verrettes',
       'dessalines', 'saint-marc', 'delmas', 'petion_ville'], dtype=object)

array(['Female', 'Male'], dtype=object)

In [11]:
def ovc_age(age):
    return '18+' if age>=18 else 'no'

def gender(gender):
    if gender == 'fanm':
        return "Female"
    elif gender == 'gason':
        return 'Male'

In [12]:
data_parent_found['age_ovc'] = data_parent_found.age_paran.map(ovc_age)
data_parent_found.Gender = data_parent_found.Gender.map(gender)

In [14]:
data_parent_found.age_ovc.unique()

array(['18+'], dtype=object)

In [17]:
datim = data_parent_found.pivot_table(index="commune",values="code",columns=["Gender","age_ovc"],aggfunc='count',fill_value=0)

In [18]:
datim[('Female','<1')] = 0
datim[('Female','1-4')] = 0
datim[('Female','5-9')] = 0
datim[('Female','10-14')] = 0
datim[('Female','15-17')] = 0
datim[('Male','<1')] = 0
datim[('Male','1-4')] = 0
datim[('Male','5-9')] = 0
datim[('Male','10-14')] = 0
datim[('Male','15-17')] = 0

columns_orientation =[
    ('Female','<1'),
    ('Female','1-4'),
    ('Female','5-9'),
    ('Female','10-14'),
    ('Female','15-17'),   
    ('Female','18+'),  
    ('Male','<1'),
    ('Male','1-4'),
    ('Male','5-9'),
    ('Male','10-14'),
    ('Male','15-17'),   
    ('Male','18+'),   
]

datim = datim.reindex(columns= columns_orientation)
datim

Gender        Female                         Male
age_ovc           <1 1-4 5-9 10-14 15-17 18+   <1 1-4 5-9 10-14 15-17 18+
commune
delmas             0   0   0     0     0   1    0   0   0     0     0   0
desdunes           0   0   0     0     0   4    0   0   0     0     0   0
dessalines         0   0   0     0     0   8    0   0   0     0     0   0
grande-saline      0   0   0     0     0   6    0   0   0     0     0   0
kenscoff           0   0   0     0     0  57    0   0   0     0     0  21
petion_ville       0   0   0     0     0   2    0   0   0     0     0   0
saint-marc         0   0   0     0     0   3    0   0   0     0     0   0
tabarre            0   0   0     0     0  20    0   0   0     0     0   5
verrettes          0   0   0     0     0   5    0   0   0     0     0   0

In [20]:
datim.to_excel(f"./caregiver_results/datim_parenting_caregiver{date_du_jour}.xlsx",na_rep="",index=True)
#datim.to_excel(f"./caregiver_results/datim_parenting_caregiver.xlsx",na_rep="",index=True)