In [ ]:
%%capture
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from sys import path 
path.insert(0, '../static')
from agyw import AgywPrev
from pandas import (
    DataFrame,
    ExcelWriter
)
import openpyxl

In [2]:
%%capture
datim = AgywPrev()

In [3]:
base = datim.data_dreams_valid
base.id_patient.count()
base.columns

9002

Index(['id_patient', 'id_parenting_group', 'departement', 'commune',
       'nbre_pres_for_inter', 'nbre_parenting_coupe_present',
       'has_comdom_topic', 'has_preventive_vbg',
       'number_of_condoms_sensibilize',
       'number_condoms_sensibilization_date_in_the_interval',
       'number_condoms_reception_in_the_interval',
       'number_test_date_in_the_interval', 'test_results',
       'number_vbg_treatment_date_in_the_interval',
       'number_gynecological_care_date_in_the_interval',
       'number_prep_initiation_date_in_the_interval',
       'number_contraceptive_reception_in_the_interval', 'age_in_year',
       'age_range', 'ovc_age', 'date_interview', 'month_in_program_range',
       'muso', 'gardening', 'has_a_service_with_date_in_the_past',
       'parenting_detailed', 'parenting', 'curriculum_detailed', 'curriculum',
       'condom', 'hts', 'vbg', 'gyneco', 'post_violence_care', 'socioeco_app',
       'prep', 'contraceptive', 'ps_1014', 'ps_1519', 'ps_2024',
       'primary_only', 'primary_and_OneSecondary_services',
       'completed_one_service', 'has_started_one_service'],
      dtype='object')

In [4]:
hts = base[
    (base.hts=="yes")
]
hts.id_patient.count()

hts_table = hts.pivot_table(index="age_range",columns="hts",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)
hts_table

1151

hts           yes  Grand Total
age_range
10-14         130          130
15-19         517          517
20-24         504          504
Grand Total  1151         1151

In [5]:
hts.pivot_table(index="test_results",columns="hts",
                        values='id_patient',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)

hts            yes  Grand Total
test_results
0,              26           26
0,,1,            2            2
0,,2,          731          731
0,,2,,3,         1            1
0,,3,            3            3
1,               4            4
2,             382          382
2,,3,            1            1
3,               1            1
Grand Total   1151         1151

In [20]:
positive = hts[
    (hts.test_results=="1,")|
    (hts.test_results=="0,,1,")
]
positive.id_patient.count()

6

In [21]:
prep_public = hts[
    (hts.test_results=="2,")|
    (hts.test_results=="0,,2,") &
    (hts.ovc_age=="18-24")
]
prep_public.id_patient.count()

904

In [22]:
indetermine = hts[
    (hts.test_results!="0,") &
    (hts.test_results!="1,") &
    (hts.test_results!="2,") &
    (hts.test_results!="0,,1,")&
    (hts.test_results!="0,,2,")
]
indetermine.id_patient.count()

6

In [23]:
zero = hts[
    (hts.test_results=="0,")
]
zero.id_patient.count()

26

In [24]:
positive.to_excel('./positive/agyw_positive_onHIVHAITI.xlsx',index=False,na_rep="")
indetermine.to_excel('./indetermine/agyw_indetermine_onHIVHAITI.xlsx',index=False,na_rep="")
prep_public.to_excel('./prep_public/agyw_prep_public_onHIVHAITI.xlsx',index=False,na_rep="")